view/archivos_subidos/
composer.lock
/node_modules/*
nbproject/*
package-lock.json
/nbproject/private/
.vscode
.idea
tags
*/tags
vendor/latitude/latitude/src/functions.php
/vendor/latitude/latitude/src/functions.php
