.ases-container-fluid{
    width: 100%;
    height: 100%;
}

.ases-title-view{
    box-shadow: 0 4px 2px -2px grey;
    padding: 20px 15px 10px 15px;
    width: 100%;
    min-height: 64px;
}

.ases-title-view > h2{
    margin: 0 !important;
    float: left;
}