.ases-comp-header{
    padding: 0px !important;
}

.ases-comp-title-view{
    box-shadow: 0 4px 2px -2px grey;
    padding: 5px 15px 5px 15px;
    width: 100%;
    min-height: 54px;
}

.ases-comp-title-view > h2{
    margin: 0 !important;
    float: left;
}

.ases-comp-menu{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ases-comp-menu .top_menu {
    margin: 0;
    padding: 0;
    background-color: #d51b23;
    left: -115px; 
    margin-top: -10px;    
}

.ases-comp-menu .top_menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ases-comp-menu .top_menu a:hover, 
.ases-comp-menu .top_menu .dropdown:hover 
.ases-comp-menu .top_menu .dropdown .dropbtn {
    background-color: #b6161e;
}

.ases-comp-menu .top_menu .dropdown {
    position: relative;
    display: inline-block;
}
  
.ases-comp-menu .top_menu .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.ases-comp-menu .top_menu .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d51b23;
    min-width: 160px;
    margin-top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ases-comp-menu .top_menu .dropdown .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.ases-comp-menu .top_menu .dropdown .dropdown-content a:hover {
    background-color: #b6161e;
}

.ases-comp-menu .top_menu .dropdown:hover .dropdown-content {
    display: block !important;
}