#incidents_container{
    padding: 15px;
    margin-top: 1.5em;
}

.inc_item{
    padding: 0.3em;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 3px;
}

.inc_item:hover{
    background-color: whitesmoke;
}

.inc_item_closed{
    background-color: #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
}
.inc_item_closed:hover{
    border-bottom: 2px solid gray;
}

.inc_item_open{
    border-bottom: 2px solid #d8d8d8;
}
.inc_item_open:hover{
    border-bottom: 2px solid #d8d8d8;
}

.detail_container{
    padding: 2em;
    margin-left: 1em;
    background-color: rgb(204, 204, 204);
}

.inc_item_container{
    overflow-y: auto;
    height: 400px;
}

.inc_preview{
}

#empty{

    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    background-color: rgb(241, 241, 241);
    border: 1px dotted #888888;
    padding: 1em;
    width: 100%;
}

.inc_opc{
    display: none;
    text-align: right;
}

.btn-marcar-resuelta{
    background: #d51b23 !important;
    border-radius: 0 !important;
    color: #FFF !important;
    margin-bottom: 0.3em;
}
.btn-marcar-resuelta:hover{
    background-color: #d43f3a !important;
}

.btn-marcar-resuelta:focus{
    height: 30px;
    background-color: #d51b23 !important;
    border-color: #d43f3a !important;
    border-radius: 0px;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.hr-univalle{
    border-color: #d51b23;
}

.opened_by, .record_datetime, 
.inc_detail, .title_list,
.closed_by, .inc_preview,
.send_message{
    font-size: 1.3em;
}

.inc_detail{
    margin-top: 1.2em;
}


input[type=text] {
    height: 34px !important;
}

#title-ases-incidents-view{
    box-shadow: 0 4px 2px -2px grey;
    padding: 20px 15px 10px 15px;
    width: 100%;
    min-height: 64px;
}

#title-ases-incidents-view > h2{
    margin: 0 !important;
    float: left;
}

.new-incident{
    float: right;
}