#map-canvas{
    width: 100%;
    height: 100%
}

#map-container{
    width:100%;
    height:600px
}


#maps_fields, #conventions-container{
    text-align: center;
}

.checkbox, .convention{
    display:inline-block !important;
    margin: 1em 2em 0 1em;
}