#top_options{
    text-align: center;
}

#status_fields{
    text-align: center;
}

.checkbox{
    display:inline-block !important;
    margin: 1em 2em 0 1em;
}

.div_btn_guardar{
    text-align: center;
}

.card-title a{
    font-size: 0.75em
}