#top_options{
    text-align: center;
}

#status_fields{
    text-align: center;
}

.checkbox{
    display:inline-block !important;
    margin: 1em 2em 0 1em;
}

.div_btn_guardar{
    text-align: center;
}

.ases-col-sm-8 h2{
    text-align: left;
    font-weight: normal;
    font-size: 30px;
    padding-left: 4%;
    padding-top: 0.5%;
}