/* Estilo de las columnas de la tabla*/
.estudiantes_perdiendo {
    font-weight: bold;
}

.cantidad_items, .items_con_almenos_una_nota {
    font-style: italic;
}

/* Fin */
.course_and_teacher_report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1% 0 1% ;
}
.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tableFinalgradesReport th {
    text-align: center;
}
/* The inner table, students table should have text align to left*/
#tableFinalgradesReport table th {
    text-align: left;
}
.count_items {
    margin-top: 2%;
}