#btn-generar-reporte{
    color: #FFF;
}   

#btn-generar-reporte:hover{
    color: #000;
}   


input{
    height: 34px !important;
    
}

input[type='checkbox'] {
    height: auto !important;
}

.big-col {
    width: 400px !important;
}
  
table#dphpform_datatable {
    table-layout:fixed;
}

#msg-chrome{
    background-color: rgb(228, 228, 228);
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5em;
}

#msg-chrome > img{
    width: 3%;
    height: auto;
    margin-right: 5px;
}