#btn-generar-reporte{
    color: #FFF;
}   

#btn-generar-reporte:hover{
    color: #000;
}   


input{
    height: 34px !important;
    
}

input[type='checkbox'] {
    height: auto !important;
}

.big-col {
    width: 400px !important;
}
  
table#dphpform_datatable {
    table-layout:fixed;
}
