#div-info {
    height: 100px;
}

#btn-upload-csv, #btn-alertas {
    margin: 1em 1em 1em 0;
    padding: 0 1.5em;
}

#info-content {
    overflow: auto;
    text: #fff;
}
#info-content.success {
    background: #00bb00;
}

#info-content.error {
    background: #ff280e;
}