.assignment_item{
    background-color: #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    color: #000;
    border-radius: 2px;
    margin-top: 3px;
    cursor: pointer;
    padding: 0.5em;
    border-top-left-radius: 0px;
}

.assignment_item:hover{
    border-bottom: 2px solid gray;
    transition: border-bottom 0.25ms linear ease-in-out;
}

.column_items{
    overflow-y: scroll; 
    height:400px;
}

.column_group{
    margin-top: 2em;
}

.select-program, .select-faculty{
    width: 30%;
    text-overflow: ellipsis;
    display: inline;
}

.item-left-button, .item-right-button{
    background-color: green;
    display: inline;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;

}

.item-left-button-disabled, .item-right-button-disabled{
    background-color: rgb(61, 61, 61);
    display: inline;
    border-radius: 2px;
    cursor: pointer;
}

.item-right-button, .item-right-button-disabled{
    float: right;
}

.item-left-button, .item-left-button-disabled{
    float: left;
}

.item-text{
    display: inline;
    padding-left: 0.3em;
}

.assigned{
    border-left: 3px solid green;
}

.not-assigned{
    border-left: 3px solid gray;
}

.active{
    border-bottom: 2px solid rgb(255, 174, 0);
}

.oculto-facultad, .oculto-programa{
    display: none;
}