
.step {
   position: relative;
   text-align: center;
   height: 60px;
   width: 200px;
   line-height:60px;
   float: left;
   margin-bottom:10px;
   background-color: #cd1f32;
   color: white;
}
  
.step-middle:before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 3%; 
    height: 50%; 
    width: 100%;
    transform: skew(25deg, 0deg);
    border:1px solid white;
    border-bottom:none;
    z-index: 1;
}
  
.step-middle:after {
    content: ''; 
    position: absolute; 
    top: 50%; 
    left: 3%; 
    height: 50%; 
    width: 100%; 
    transform: skew(-25deg, 0deg);
    border:1px solid white;
    border-top:none;
    z-index: 1;
}

.first-step {
    border-top:1px solid white;
    border-left:1px solid white;
    border-bottom:1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.last-step {
    border-top:1px solid white;
    border-right:1px solid white;
    border-bottom:1px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

