.steps-container{
  margin-top: 1.5em;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.steps-container ul{
  list-style-type: none;
}

.steps-progressbar li{
  float: left;
  width: calc(100% / 4);
  position: relative;
  text-align: center;
}

.steps-progressbar li:before{
  content:"1";
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.steps-progressbar li:before{
  content:"1";
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

.steps-progressbar{
  counter-reset: step;
}

.steps-progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

.steps-progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.steps-progressbar li:first-child:after{
  content: none;
}


.steps-progressbar li.active::after{
  background: #3aac5d;
}

.steps-progressbar li.active::before{
  border-color: #3aac5d;
  background: #3aac5d;
  color: white
}

.steps-col{

  min-height: 90px !important;
  
}
