.ases-active{
    border-color: #d51b23;
}

.steps-container{
    margin-top: 1em;
}

.steps-container ul{}

.steps-progressbar li{
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-radius: 0px;
    border-bottom-width: 3px;
}

.collapse-btn{
    width: 100%;
    background-color: #e1e1e1;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.collapse-btn:hover{
    background-color: #C1C1C1;
}

.collapse-container{
    padding:1.5em;
    border: 1px solid #e1e1e1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.period-container:nth-child(3){
    border-top: 1px solid gray;
    padding-top: 0.5em;
}

.period-container{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.period-container:nth-last-child(1){
    border-bottom: 1px solid gray;
}

.user_enrolled .ucontainer{
  padding: 0.7em;
  margin-top: 1em;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 5px 15px #e1e1e1;
  cursor: pointer;
}

.user_enrolled .ucontainer .remove_check{
  float: right;
}

.user_enrolled .ucontainer .ehr{
  margin: 10px 0px 10px 0px;
}

.user_enrolled .ucontainer .fname,
.user_enrolled .ucontainer .lname{
  font-size: 0.9em;
}

.user_enrolled .ucontainer .groups_container .enrolled_group{
  font-size: 0.8em;
  padding: 4px;
  background: #cececece;
  border-radius: 3px;
  margin-right: 3px;
  margin-top: 3px;
}

.groups_container{
    float: right;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid #e1e1e1;
}

.mfilter{
  cursor:pointer;
  padding: 4px;
  background: #cececece;
  border: 1px solid #cececece;
  border-radius: 0px;
  margin-right: 0.5em;
  margin-top: 3px;
  float: left;
}

.filter-selected{
  border: 1px solid black;
  background: #7F7F7F;
  border: 1px solid #cececece;
}

.user-selected{
  border: 1px solid #ff3030 !important;
  background: #fff5f5
}

#plugin_members_actions{
  margin-top: 1em;
}

#plugin_members_filter > div > h3,
#plugin_members_actions > div > h3{
  margin: 0px;
}
