.top_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d51b23;
    left: -115px;
    margin-top: -10px;
    
}

#menu_div li {
    float: left;
}

#menu_div li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu_div li a:hover {
    background-color: #b6161e;
}