.top_menu {
    margin: 0;
    padding: 0;
   /*overflow: hidden;*/
    background-color: #d51b23;
    left: -115px; 
    margin-top: -10px;    
}

.top_menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top_menu a:hover, .dropdown:hover .dropbtn {
    background-color: #b6161e;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d51b23;
    min-width: 160px;
    margin-top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #b6161e;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}