.course_and_teacher_report_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tableStudentItemGradesReport table.dataTable tbody td{
    background-color: rgb(204, 204, 204)!important;
}