#div-header-info{
    background: #D4D4D4;
}

#div-header-profile{
    margin-bottom: 10px;
    margin-top: 20px;
}

#photo_div{
    border-left: 5px solid white;
}

.select2.select2-container.select2-container--default{
    width: 100% !important;
    font-size: 200%;
    border-radius: 0 0 0px 0px;

}

.select2-container .select2-selection--single{
    height: 40px;
    border-radius: 0 0 0px 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
    font-weight: bold;
    border-radius: 0 0 0px 0px;
}

/* Controles datos generales */
.div_general_fields{
    padding-top: 0px;
    padding-bottom: 0px;
}

#div_input_cc{
    padding-left: 0px;
    padding-right: 0px;
}

#div_doc_type{
    padding-right: 4px;
}

#tipo_doc{
    padding: 0px 0px 0px 6px;
    height: 100%;
    position: relative;
    border-radius: 0 0 0px 0px;
}

#div_select_student{
    padding-right: 0px;
}

#div-hr{
    color: gray;
    padding: 0px 15px 2px 15px;
}

#hr-general-fields{
    margin-top: 10px;
}

#cedula{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 6px 0px 0px 5px;
    border-radius: 0 0 0px 0px;
}

#div_icetex_status{
    padding-left: 0px;
    padding-right: 15px;
}

#row-general-fields{
    height: 30px;
    margin-top: 5px;
}

#div-select-student{
    padding-top: 20px;
}

#icetex_status{
    padding: 0px 0px 0px 6px;
    height: 100%;
    position: relative;
    border-radius: 0 0 0px 0px;
}

#icon-tracking{
    
}

.i-tracking-t{
    color: green !important;
    font-size: 30px;
    position: absolute;
    transition:all .5s ease-in-out;
}

.i-tracking-f{
    color: rgb(128, 186, 128) !important;
    font-size: 30px;
    position: absolute;
    transition:all .5s ease-in-out;
}

.i-tracking-n{
    color: gray !important;
    font-size: 30px;
    position: absolute;
    transition:all .5s ease-in-out;
}

#icon-tracking:hover{
    filter: opacity(.4);
}

.div-general-fields>input{
    border: 1px;
}

.div-general-fields>input,
.div-general-fields>select,
.div-general-fields>span{
    height:100%;
    position: absolute;
}

#age,
#email,
#span-icetex-status{
    padding-top: 7px;
}

.borderless td, .borderless th {
    border: none !important;
}

.td-middle{
    vertical-align: middle !important;
}

.is-active{
    background-color: #93B793;
}


/*Tool tip*/

.icontip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.icontip .icontiptext {
    width: 160px;
    bottom: 100%;
    left: 50%; 
    margin-left: -80px;
    visibility: hidden;
    background-color: rgb(230, 230, 230);
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.icontip:hover .icontiptext {
    visibility: visible;
}

#modal_riesgos > .mymodal-content{
    padding: 0px !important;
}



