.course_and_teacher_report_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tableStudentItemGradesReport table.dataTable tbody td{
    background-color: rgb(204, 204, 204)!important;
}
/*
Las columnas (de la 2 a la 5 -- index desde 1) son: numero documento, codigo, apellidos y nombre son links a la ficha estudiante
*/
#tableStudentItemGradesReport td:nth-child(2),
#tableStudentItemGradesReport td:nth-child(3),
#tableStudentItemGradesReport td:nth-child(4),
#tableStudentItemGradesReport td:nth-child(5){
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

/*
Resolver los conflictos de estilos para las tablas internas
*/
#tableStudentItemGradesReport table.dataTable tbody td:nth-child(2),
#tableStudentItemGradesReport table.dataTable tbody td:nth-child(3),
#tableStudentItemGradesReport table.dataTable tbody td:nth-child(4),
#tableStudentItemGradesReport table.dataTable tbody td:nth-child(5){
    text-decoration: none;
    font-weight: normal;
    cursor: auto;
}