img.icon{
    display: none !important;
}

*[id*="grade_"]	{
    width: 50px !important;
}

.gradeparent{
    border: 1px solid #ccc;
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; 
}

#page-blocks-ases-view-global_grade_book{
    width: 100% !important;    
}

.highlightable{
    width: 50px;
    word-wrap: break-word;
}

.range{
    display:none !important;
}

#padre{
    width: 400px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table td{
    border: 2px solid #ccc;
}

table tr{
    border: 2px solid #ccc;
}

table th{
    border: 2px solid #ccc;
    background-color: #eae9e9 !important;
}