<div class="general_modal {{general_modal_class}}">
    <div class="outside"></div>
    <div class="general_modal_content">
        <div class="general_modal_header">
            <div class="general_modal_label">{{{general_modal_title}}}</div>
            <div class="general_modal_close"></div>
        </div>
        <div class="general_modal_body">
            {{{general_modal_body}}}
        </div>
        <div class="general_modal_footer">
            .
        </div>
    </div>
</div>