<div id="custom_metadata" data-view-name="{{view_name}}" hidden></div>
<div class="ases-container-fluid">
    <div class="ases-row">
        <div class="ases-title-view">
            <h2>{{view_title}}</h2>
        </div>
    </div>
</div>