<div id="custom_metadata" data-view-name="{{view_name}}" hidden></div>
<div class="ases-row">
    {{#view_menu}}
    <div class="ases-col-xs-12 ases-col-sm-12 ases-col-md-12 ases-col-lg-12 ases-comp-menu">
        {{> block_ases/side_menu}}
    </div>
    {{/view_menu}}
</div>
<div class="ases-row">
    {{#view_title}}
    <div class="ases-col-xs-12 ases-col-sm-12 ases-col-md-12 ases-col-lg-12">
        <div class="ases-comp-title-view">
            <h2>{{view_title}}</h2>
        </div>
    </div>
    {{/view_title}}
</div>