<div class="panel panel-default">
<div class="panel-heading">
   <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse1">Asignación Administracion del Sistema</a>
   </h4>
</div>
{{!--end panel-heading--}}
<div id="collapse1" class="panel-collapse collapse">
   <div class="panel-body">
      <form class="form-pilos" id="role_man_form">
         <div >
            <ul>
               <!--<li>
                  <label for="username_input">Nombre de usuario:</label> 
                  <input type="text" name="username_input" id="username_input"/>
                  <button class="submit" type="button" id="search_button" >Buscar</button> 
               </li>
               <li class="assignment_li"> 
                  <label for="name_lastname">Nombre completo: </label>
                  <input type="text" id="name_lastname" name="name_lastname" disabled />
                  <input type="text" class="hide" id="user_id" name="user_id"/>
               </li>
            </ul>
         </div> -->
         <!--end col-md-6-->
         <li>
            <label>Cohorte: </label>
            <select id="select_cohorts">
                {{{select_cohorts}}}
            </select>
         </li>
      </form>

      <div class="col-md-3 col-md-offset-5 assignment_li">
         <button class="submit btn-form" type="button" id="ok_button">Aceptar</button>
         <button class="submit btn-form" type="button" id="cancel_button">Cancelar</button>
      </div>
      {{!--end div buttons --}}
      <div class="col-md-4 col-md-offset-8" id="next_div" style="display:none;">
         <button class="submit btn-form" type="button" id="next">Cargar Informacion Básica</button>
      </div>
      {{!--end panel-body--}}
      </form>
   </div>
</div>
{{!--end panel-collapse1--}}