<div class="row">
    <h2>REPORTE GENERAL DE ESTUDIANTES</h2>
    <hr/>
    <h5>Por favor seleccione los campos deseados para el reporte</h5>
    <br>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <form role="form" id="formulario">
            <div class="row">
                <!-- Columna de población -->
                <div class="col-sm-3 col-md-3">
                    <fieldset id="poblacion">
                        <legend>Población</legend>

                        <div class="form-group">
                            <label class="col-sm-12" for="cohorte">Cohorte:</label>
                            <div class="col-sm-12">
                                {{{cohorts_checks}}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12" for="estado">Estado Ases:</label>
                            <div class="col-sm-12">
                                <select class="form-control" name="estado" id="estado">
                                    {{{status_ases}}}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- Columna de campos base -->
                <div class="col-sm-2 col-md-2">
                    <fieldset id="camposBase">
                        <legend>Campos base</legend>
                        <input type="checkbox" name="chk[]" value="Código" onchange="check(this)" onclick="check(this)" checked="checked">Código
                        <br>
                        <input type="checkbox" name="chk[]" value="Nombre" onchange="check(this)" onclick="check(this)" checked="checked">Nombres
                        <br>
                        <input type="checkbox" name="chk[]" value="Apellidos" onchange="check(this)" onclick="check(this)" checked="checked">Apellidos
                        <br>
                        <input type="checkbox" name="chk[]" value="Documento" onchange="check(this)" onclick="check(this)" checked="checked">Documento
                        <br>
                    </fieldset>
                </div>

                <!-- Columna de contacto -->
                <div class="col-sm-2 col-md-2">
                    <fieldset id="camposContacto">
                        <div class="col-sm-12">
                            <legend><input type="checkbox"> Contacto</legend>
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" name="chk[]" value="Email"> Correo electrónico
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" name="chk[]" value="Celular"> Celular
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" name="chk[]" value="Dirección"> Dirección
                        </div>
                    </fieldset>
                </div>

                <!-- Columna de programa académico -->
                <div class="col-sm-3 col-md-3">
                    <fieldset id="camposAcudiente">
                        <div class="col-sm-12">
                            <legend><input type="checkbox"> Académico</legend>
                        </div>
                        <div class="col-sm-12">
                                <input type="checkbox" name="chk[]" value="Nombre acudiente"> Código programa académico
                            </div>
                        <div class="col-sm-12">
                            <input type="checkbox" name="chk[]" value="Nombre acudiente"> Programa académico
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" name="chk[]" value="Celular acudiente"> Facultad
                        </div>
                    </fieldset>
                </div>

                <!-- Columna de riesgos -->
                <div class="col-sm-2 col-md-2" id="div_riesgo">
                    <fieldset id="riesgo">
                        <legend>Riesgos</legend>
                        {{{risks_checks}}}
                    </fieldset>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                    <center>
                        <input type="button" value="Generar Reporte" id="btn-send-indexform" formmethod="post">
                    </center>
                </div>
            </div>
            <hr>
        </form>
    </div>

    <div class="row" id="div_table">
    </div>
</div>