<form role="form" id="form_general_report">
    <div class="ases-row">
        <div class="ases-col-sm-8 ases-col-lg-8">
            <h2>REPORTE GENERAL DE ESTUDIANTES</h2>
            <h5>Por favor seleccione los campos a incluir en el reporte</h5>
        </div>
        <div class="ases-col-sm-4 ases-col-lg-4" id="div_cohorts">
            <label for="">Cohorte:</label>
            {{{cohorts_checks}}}
        </div>
        <hr class="ases-col-sm-12 ases-col-lg-12"/>
    </div>

    <div class="ases-col-sm-12 ases-col-lg-12">
        <!-- Columna de campos base -->
        <div class="ases-col-sm-12 ases-col-lg-12" hidden>
            <fieldset id="base_fields" class="fieldset_general_report">
                <legend>Campos base</legend>
                <div class="checkbox">
                    <input type="checkbox" name="fields[]" value="student_code" onchange="check(this)" onclick="check(this)" checked="checked">
                    Código
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="fields[]" value="firstname" onchange="check(this)" onclick="check(this)" checked="checked">
                    Nombres
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="fields[]" value="lastname" onchange="check(this)" onclick="check(this)" checked="checked">
                    Apellidos
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="fields[]" value="document_id" onchange="check(this)" onclick="check(this)" checked="checked">
                    Documento
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="fields[]" value="cohort" id="cohort_check" onchange="check(this)" onclick="check(this)" checked="checked">
                    Cohorte
                </div>
            </fieldset>
        </div>

        <!-- Columna de contacto -->
        <div class="ases-col-sm-2 ases-col-md-2 ases-col-lg-2">
            <fieldset id="contact_fields" class="fieldset_general_report">
                <legend>
                    <input type="checkbox" id="contact_fields_check">
                    Contacto
                </legend>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="fields[]" value="email">
                    Correo electrónico
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="fields[]" value="cellphone">
                    Celular
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="fields[]" value="address">
                    Dirección
                </div>
            </fieldset>
        </div>

        <!-- Columna de estados -->
        <div class="ases-col-sm-2 ases-col-md-2 ases-col-lg-2">
            <fieldset id="status_fields" class="fieldset_general_report">
                <legend>
                    <input type="checkbox" id="status_fields_check">
                    Estados
                </legend>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="status_fields[]" value="ases_status">
                    ASES
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="status_fields[]" value="icetex_status">
                    ICETEX
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="status_fields[]" value="academic_program_status">
                    Registro académico
                </div>
            </fieldset>
        </div>

        <!-- Columna de programa académico -->
        <div class="ases-col-sm-3 ases-col-md-3 ases-col-lg-3">
            <fieldset id="academic_fields" class="fieldset_general_report">
                <legend>
                    <input type="checkbox" id="academic_fields_check">
                    Académico
                </legend>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="academic_fields[]" value="program_code">
                    Código programa académico
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="academic_fields[]" value="name_program">
                    Programa académico
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="academic_fields[]" value="faculty">
                    Facultad
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="academic_fields[]" value="average">
                    Promedio acumulado
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="academic_fields[]" value="academic_stimuli">
                    Estimulos
                </div>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="academic_fields[]" value="low_academic_performance">
                    Bajos rendimiento
                </div>
            </fieldset>
        </div>

        <!-- Columna de asignaciones -->
        <div class="ases-col-sm-2 ases-col-md-2 ases-col-lg-2">
            <fieldset id="assignments_check_fieldset" class="fieldset_general_report">
                <legend>
                    <input type="checkbox" id="assignment_fields_check">
                    Asignaciones
                </legend>

                <div class="checkbox checkbox_general_reports">
                    <input type="checkbox" name="assignment_fields[]" value="professional">
                    Profesional
                </div>

                <div class="">
                    <input type="checkbox" name="assignment_fields[]" value="monitor">
                    Monitor
                </div>
            </fieldset>
        </div>

        <!-- Columna de riesgos -->
        <div class="ases-col-sm-3 ases-col-md-3 ases-col-lg-3" id="risk_fields">
            <fieldset id="riesgo" class="fieldset_general_report">
                <legend>
                    <input type="checkbox" id="risk_fields_check">
                    Riesgos
                </legend>
                {{{risks_checks}}}
            </fieldset>
        </div>
    </div>
</form>

{{#graphic_reports_button}}
    <hr class="ases-col-sm-12 ases-col-md-12 ases-col-lg-12" />
    <div class="ases-col-sm-12 ases-col-md-12 ases-col-lg-12" style="text-align: center">
        {{#url_graphic}}
            <div class="row div_boton_reportes_graficos">
                <a id="reportes_graficos" href="{{url}}">
                    <button id="btn_reportes_graficos" class="button dt-button">Reportes Gráficos</button>
                </a>
            </div>
        {{/url_graphic}}
    </div>
{{/graphic_reports_button}}

<hr class="ases-col-sm-12 ases-col-md-12 ases-col-lg-12"/>
<div id="div_table" class="ases-col-sm-12 ases-col-md-12 ases-col-lg-12"></div>
