<div>
    <legend>GRÁFICAS GENERALES:</legend>
    <input type="button" value="Edad" class="edad" formmethod="post" data-toggle="modal" data-target="#myModalGraf" />
    <input type="button" value="Sexo" class="sexo" formmethod="post" data-toggle="modal" data-target="#myModalGraf" />
    <input type="button" value="Carrera" class="carrera" formmethod="post" data-toggle="modal" data-target="#myModalGraf" />
    <input type="button" value="Facultad" class="facultad" formmethod="post" data-toggle="modal" data-target="#myModalGraf" />
    <input type="button" value="Estado" class="estado" formmethod="post" data-toggle="modal" data-target="#myModalGraf" />
    <br>
    <legend>GRÁFICAS RIESGOS:</legend>
    <input type="button" value="TODOS" id="exam" class="todos" formmethod="post" data-toggle="modal" data-target="#myModalGraf"
    />
    <br>
    <input type="button" value="Individual" class="individual" formmethod="post" data-toggle="modal" data-target="#myModalGraf"
    />
    <input type="button" value="Familiar" class="familiar" formmethod="post" data-toggle="modal" data-target="#myModalGraf" />
    <input type="button" value="Académico" class="academico" formmethod="post" data-toggle="modal" data-target="#myModalGraf"
    />
    <input type="button" value="Económico" class="economico" formmethod="post" data-toggle="modal" data-target="#myModalGraf"
    />
    <input type="button" value="Vida Universitaria" class="vuni" formmethod="post" data-toggle="modal" data-target="#myModalGraf"
    />
    <input type="button" value="Geográfico" class="geog" formmethod="post" data-toggle="modal" data-target="#myModalGraf" />
</div>
</div>

<!-- Modal Grafica-->
<div class="modal modal_pilos" id="myModalGraf" name="seguimiento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <b>GRÁFICA POR:</b>
                </h4>
            </div>
            <div id="myModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="button btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>