
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success no-border-radius">
            <div class="panel-heading col-sm-12">
                <div class="col-sm-6"><b>Ser Pilo Paga</b></div>
                <div class="col-sm-6">Total estudiantes: 99999</div>
            </div>
            <div class="panel-body">
                {{#summary_spp_cohorts}}
                    <div class="col-sm-12">
                        {{name}}
                    </div> 
                    <div class="col-sm-12">
                        Activos:
                        Inactivos:
                    </div>               
                {{/summary_spp_cohorts}}
            </div>
        </div>
    </div>
        
    <div class="col-sm-6">
        <div class="panel panel-success no-border-radius">
            <div class="panel-heading col-sm-12">Condición de Excepción</div>
            <div class="panel-body">
                Activos:
            </div>
        </div>
    </div>
</div>


    <div class="col-sm-6">
        <div class="panel panel-success no-border-radius">
            <div class="panel-heading">Ingeniería Topográfica</div>
            <div class="panel-body">
                Activos:
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-success no-border-radius">
            <div class="panel-heading">Otros ases</div>
            <div class="panel-body">
                Activos:
            </div>
        </div>
    </div>