<body name="prueba">

  {{#data}}
  <div class="container">

    {{#search_all_students_ar}}
      {{> block_ases/ar_search_students}}
    {{/search_all_students_ar}}

    {{#search_all_students_ar}}
      {{> block_ases/ar_view_graphics}}
    {{/search_all_students_ar}}
  {{/data}}
</body>