<body name="hola">
  <!-- Testing -->
    <iframe id="inlineFrameExample"
    width = "100%"
    height="1000em"
    title="Inline Frame Example"
    src="https://cytoscope-vista-campus-univalle.vercel.app">
</iframe>
</body>