<body name="hola">
  <!-- Testing -->
  {{#data}}
  {{> block_ases/side_menu}}
  <div class="container">
    {{{message}}}
    {{! <form role="form" id="form_general_report"> }}
    <div class="row">
        <div class="col-sm-8">
            <h2>REPORTE GENERAL GRÁFICO DE ESTUDIANTES</h2>
            <h5>Por favor seleccione los campos a incluir en el reporte</h5>
        </div>
        <div class="col-sm-4" id="div_cohorts">
            <label for="">Cohorte:  </label>
                {{{cohorts_checks}}}
        </div>  
        <div class="top_options">      
            <div class="col-sm-12 col-md-12">
                <fieldset id="status_fields" style="top_options">
                    <div class="checkbox">
                        <input type="checkbox" name="fields[]" value="ases_status" id="ases_status"> ASES                                
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="fields[]" value="icetex_status" id="icetex_status"> ICETEX
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="fields[]" value="academic_program_status" id="academic_program_status"> Registro Académico
                    </div>
                </fieldset>
            </div>
        </div>
        <hr class="col-sm-12" />   
    </div>    
    <div class="panel-group" id="accordion">
        {{#program_report_agr}}              
        <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" id="list-students-programa-panel">
                        <a data-toggle="collapse" data-parent="accordion" href="#programa">Reporte de Programa</a>
                    </h4>                    
                    <div id="programa" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h2>Reporte de Programa</h2>                                       
                            <hr class="col-sm-12" />
                            <div class="col-sm-12" id="div_table_programa">                               
                            </div>
                            <hr class="col-sm-12" />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="bar-chart-container">
                                        <canvas id="grafica_programa" ></canvas>
                                    </div>                            
                                </div>                
                            </div>
                        {{! <div class="row">
                            <button id="save-btn">Guardar Gráfico</button>
                            </div>  }}
                        </div>
                    </div>            
                </div>
            </div>    
        </div>        
        {{/program_report_agr}}
        {{#faculty_report_agr}}              
        <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" id="list-students-facultad-panel">
                        <a data-toggle="collapse" data-parent="accordion" href="#facultad">Reporte de Facultad</a>
                    </h4>                    
                    <div id="facultad" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h2>Reporte de Facultad</h2>                                       
                            <hr class="col-sm-12" />
                            <div class="col-sm-12" id="div_table_facultad">
                            </div>
                            <hr class="col-sm-12" />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="chart-container">
                                        <canvas id="grafica_facultad" ></canvas>
                                    </div>                            
                                </div>                
                            </div>
                        {{! <div class="row">
                            <button id="save-btn">Guardar Gráfico</button>
                            </div>  }}
                        </div>
                    </div>            
                </div>
            </div>    
        </div>        
        {{/faculty_report_agr}}
        {{#sex_report_agr}}              
        <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" id="list-students-sexo-panel">
                        <a data-toggle="collapse" data-parent="accordion" href="#sexo">Reporte de Estudiantes por Sexo</a>
                    </h4>                    
                    <div id="sexo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h2>Reporte de Estudiantes por Sexo</h2>                                       
                            <hr class="col-sm-12" />
                            <div class="col-sm-12" id="div_table_sexo">
                            </div>
                            <hr class="col-sm-12" />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="chart-container">
                                        <canvas id="grafica_sexo" ></canvas>
                                    </div>                            
                                </div>                
                            </div>
                        {{! <div class="row">
                            <button id="save-btn">Guardar Gráfico</button>
                            </div>  }}
                        </div>
                    </div>            
                </div>
            </div>    
        </div>        
        {{/sex_report_agr}}
    </div>    
  <div>  
    
  {{/data}}

</body>
