<body name="hola">
  <!-- Testing -->
  {{#data}}
  {{> block_ases/side_menu}}
  <div class="container">
      {{{message}}}
      {{#search_all_students_agr}}
          {{> block_ases/ar_search_students_graphic}}
      {{/search_all_students_agr}}
      {{#search_assigned_students_agr}}
          {{> block_ases/ar_search_students_graphic}}
      {{/search_assigned_students_agr}}
  </div>
  {{/data}}
</body>
