{{#data}}
<body>
    <div id="dphpforms-reports-preguntas" style="display:none;">{{{preguntas}}}</div>
    <div id="dphpforms-instance-id" data-instance-id="{{dphpforms_instance_id}}" style="display:none;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>
                    Reportes de estudiantes sin seguimientos
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;">
                <div>                    
                    <table id="tableEstSeguimientos" class="table"
                    cellspacing="0" width="100%"><thead> </thead></table>
                </div>
            </div> 
        </div>
    </div>
</body>
{{/data}}