{{#data}}
{{> block_ases/side_menu}}
<body>
    <div 
        id="custom_metadata" 
        data-view-name="assigned_students_no_trackings_report_page" 
        data-instance-id="{{instance_id}}"
        style="display:none;"
        >
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>
                    Reportes de estudiantes sin seguimientos
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;">
                <div class="col-sm-12" id="div_table">    
                    <img class="icon-loading" src="../icon/loading.gif"/>             
                    <table id="tableEstSeguimientos" class="table"
                    cellspacing="0" width="100%"><thead> </thead></table>
                </div>
            </div> 
        </div>
    </div>
</body>
{{/data}}