{{#data}}   
{{> block_ases/side_menu}}
<div class="container">
    <h2>REPORTE DE BACKUP</h2>  
<div class="row">
 
   <input id type="text" class="form-control" placeholder="Ingrese el código del estudiante a buscar">
    <div  id="div_table_forms">
                    </div>   

</div>

<div class="row">
  <h2>REPORTE DE BACKUP</h2>  
   <div  id="div_table_form">
                   </div>   
   
  <!--end panel-group-->
</div>

{{/data}}
</div>

<div class="mymodal" id="modalFormulario" name="modalFormulario">
  <div class="outside"></div>
  <div class="mymodal-content">
    <div class="mymodal-header col-sm-12">
      <div class="col-sm-11">
        <h4 class="" id="myModalLabel">Formulario</h4>
      </div>
      <div class="col-sm-1">
        <span id="mymodal-close" class="mymodal-close" aria-hidden="true">&times;</span>
      </div>
    </div>
    <div class="mymodal-body mymodal-body_v2 col-sm-12">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div >ESTE ES EL FORMULARIO</div>
          
        </div>
      </div>
    </div>
    <div class="mymodal-footer">
     .
    </div>
  </div>
</div>

 