{{#data}}   
{{> block_ases/side_menu}}
<div class="container">
<div class="row">
   <h2>REPORTE DE BACKUP</h2>  
    <table  id="div_table_report">
                    </table>
     {{/data}}
   <!--end panel-group-->
</div>
</div>