{{#data}}
    {{> block_ases/side_menu}}
    <form id="form_communications" class="ases-container">
        <div class="ases-row">
            <div class="ases-col-xs-8 ases-col-sm-8 ases-col-md-8 ases-col-lg-8">
                <h2 id="communications_title">COMUNICACIONES</h2>
            </div>
        </div>

        <div class="ases-row">
            <hr class="ases-col-xs-12 ases-col-sm-12 ases-col-md-12 ases-col-lg-12"/>
        </div>

        <div id="container_communications" class="ases-container">
            <div class="ases-row">
                <div id="cohorts_select" class="ases-form-group ases-col-xs-10 ases-col-sm-10 ases-col-md-4 ases-col-lg-4">
                    <label>Destinatarios <span class="ases-glyphicon ases-glyphicon-envelope"></span>:</label>
                </div>

                <div class="ases-form-group ases-col-xs-10 ases-col-sm-10 ases-col-md-4 ases-col-lg-4">
                    <label for="additional_email">Destinatarios adicionales <span class="ases-glyphicon ases-glyphicon-envelope"></span>:</label>
                </div>
            </div>

            <div class="ases-row">
                <div id="cohorts_select" class="ases-form-group ases-col-xs-10 ases-col-sm-10 ases-col-md-4 ases-col-lg-4">
                    {{{cohorts_select}}}
                </div>

                <div class="ases-form-group ases-col-xs-10 ases-col-sm-10 ases-col-md-4 ases-col-lg-4">
                    <input id="additional_email" type="email" class="ases-form-control">
                </div>
            </div>

            <div class="ases-row">
                <div class="ases-form-group ases-col-xs-10 ases-col-sm-10 ases-col-md-4 ases-col-lg-4">
                    <label for="subject">Asunto:</label>
                    <input id="subject" type="text" class="ases-form-control">
                </div>
            </div>

            <div class="ases-row">
                <div class="ases-form-group ases-col-xs-10 ases-col-sm-10 ases-col-md-9 ases-col-lg-9">
                    <label for="full_message">Mensaje:</label>
                    <textarea id="full_message" class="ases-form-control" cols="30" rows="10" style="width: 100% !important;"></textarea>
                </div>
            </div>
        </div>
    </form>

    <div id="div-send-button" class="ases-row">
        <button id="send-button" class="ases-btn ases-btn-default ases-danger">Enviar</button>
    </div>
{{/data}}

