
{{=<% %>=}}
<body name="finalgrade_report">
<%#data%>
<%> block_ases/side_menu%>

<div>
    <div class='title'>
        <h2>REPORTE DE CURSOS POR PROFESOR</h2>
    </div>
    <div class = "count_items">


                <div id="div_table_report">

        </div>
    </div>

</div>
<!-- end wrapper -->
<%/data%>
</body>