{{#data}} {{> block_ases/side_menu}} 
<div id="custom_metadata" data-view-name="dashboard" hidden></div>
<div id="status-bar">Barra de estado</div>
<div class="container-fluid">
    <!--Pendiente definir construcción general de View-->
    <h1>View - Dashboard</h1>
</div>
{{/data}}