{{#data}} {{> block_ases/side_menu}} {{#discapacity_reports_dr}}
<div class="container">
  <h2>REPORTES DISCAPACIDAD E INCLUSIÓN</h2>
  <hr style="background-color: red; height: 1px; border: 0">

  <div class="row">
        <h2>Cacracterísticas de la discapacidad</h2>
    <div id="div_table_discapacity_reports">
    </div>
  </div>

  <div class="row">
        <h2>Datos económicos</h2>
    <div id="div_table_discapacity_reports_economics_data">
    </div>
  </div>

  {{/discapacity_reports_dr}}
  <!--end panel-group-->
  {{/data}}
</div>