 <body>
  {{#data}}
  <div id = 'courses_info' hidden>
    {{{courses_info}}}
  </div>
  <h2 class = 'title'>DOCENTES</h2>
  <div class = 'tabla_docentes'>
      {{{teachersTable}}}
  </div>
    <script type="text/javascript" src="../amd/src/require-setup.js"></script>
    <script data-main="../amd/src/grade_categories/amd_grade_categories" src="../amd/scripts/require.js"></script>
{{/data}}
 </body>