 <body>
  {{#data}}
  {{{message}}}
  {{#view_grade_categories_gc}}
  <div id = 'courses_info' hidden>
    {{{courses_info}}}
  </div>
  <h2 class = 'title'>DOCENTES</h2>
  <div class = 'tabla_docentes'>
      {{{teachersTable}}}
  </div>
  {{/view_grade_categories_gc}}

    <script type="text/javascript" src="../amd/require-setup.js"></script>
    <script data-main="../amd/src/grade_categories/amd_grade_categories" src="../amd/scripts/require.js"></script>
{{/data}}
 </body>