<body>
	<div class="panel-container">
		<div class="nav-panel">
			<ul id="index">
				<h4><a href="blocks/ases/view/user_management.php" target="viewFrame"> Manejo de Usuarios</a></h4>
				<h4><a href="blocks/ases/view/upload_files.php" target="viewFrame"> Carga de Archivos</a></h4>
				<h4><a href="blocks/ases/view/instance_configuration.php" target="viewFrame"> Configuración de Instancia</a></h4>
			</ul>
		</div>
		<div class="show-panel">
			<iframe id="frame" name="viewFrame">
    	</iframe>
		</div>
	</div>
</body>
