{{#data}}
<div class="container">
<div class="row">
   <h2>GESTIÓN DE ADMINISTRADORES DEL SISTEMA</h2>
   <hr/>
   {{{message}}}
   <div class="panel-group">
      {{#admin_assignment}}
      {{> block_ases/admin_assignment}}
      {{/admin_assignment}}

      {{#view_admins}}
      {{> block_ases/view_admins}}
      {{/view_admins}}

   </div>
   {{!--end panel-group--}}
</div>
{{/data}}