<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
            <h2>Gestion Masiva de Roles y Seguimientos</h2>
            <hr />
        </div>
    </div>
    <div class="row">
            <div id="respuesta" class="col-lg-6 col-md-6 col-lg-offset-3">
                <form id='form' class="form-inline" role="form" >
                  <div class="form-group">
                     {{!--<label> Nombre el archivo: </label> --}}
                     {{!--<input type="text" name="nombre_archivo" id="nombre_archivo" />--}}
                     <input type="file" name="archivo" id="archivo" required/>
                  </div>
                  <hr />
                  <div class="form-group">
                      <label>Selecione la operacion</label>
                      <select class="selectpicker" name="selector" id="selector" required >
                          <option value="seguimiento">Cargue de seguimientos</option>
                          <option value="monitor_estud">Monitor Estudiantes</option>
                          <option value="roles_usuario">Roles Usuario</option>
                          <option value="seguimiento_estudiante">Seguimientos estudiantes</option>
                       </select>
                   </div>
                  <hr />
                  <div class="form-group">
                      {{!--<input type="submit" id="boton_subir" value="Subir" class="btn btn-success col-md-3" />--}}
                      <button class="submit btn-form col-md-9" type="button" id="boton_subir">Subir</button>
                      <div class="col-md-3" id="response"></div>
                  </div>
                 
               </form>
               <hr />
             <div class="hide">
                 
             </div>
        </div>
    </div> 
    <div class="row col-lg-6 col-md-6 col-lg-offset-3" id="informacion" style="overflow:auto; height:200px;">
        
        
    </div>
    <div class="row"  id="archivos_subidos">
        
    </div>
</div>
     <script type="text/javascript" src="../amd/src/require-setup.js"></script>
     <script data-main="../amd/src/mass_management/main" src="../amd/scripts/require.js"></script>