<div id="general_tab" class="ases-tab-pane ases-tab-active p-t-100">
        <div id="main-div-general" class="ases-col-xs-12 ases-col-sm-7 ases-col-md-7 ases-col-lg-8">
            <br>
            <div class="ases-row">
                <p class="ases-col-xs-6 ases-col-sm-6 ases-col-md-4 ases-col-lg-4 p-general-tab">INFORMACIÓN DEL MONITOR</p>

            </div> 
            
            <hr class="hr-general-tab"/>


                  <div class="ases-row">
                      <label class="ases-col-xs ases-col-sm-3 ases-col-md-3 ases-col-lg-2" for="num_doc"> Identificación </label>
                      <input id="input_num_doc" name="num_doc" class="ases-col-xs ases-col-sm-3 ases-col-md-2 ases-col-lg-2" readonly="" value={{num_doc}}>
                  </div>
                
                <div class="ases-row">
                    <label class="ases-col-xs ases-col-sm-3 ases-col-md-3 ases-col-lg-2" for="jefe">Jefe actual </label>
                    <input id="input_jefe" name="jefe" class="ases-col-xs ases-col-sm-4 ases-col-md-4 ases-col-lg-4" readonly="" value="{{jefe}}">
                </div>

                  <div class="ases-row">
                      <label class="ases-col-xs ases-col-sm-3 ases-col-md-3 ases-col-lg-2" for="phone1"> Teléfono 1 </label>
                      <input id="input_phone1" name="telefono1" class="ases-col-xs ases-col-sm-3 ases-col-md-2 ases-col-lg-2" readonly="" value={{phone1}}>
                  </div>

                  <div class="ases-row">
                      <label class="ases-col-xs ases-col-sm-3 ases-col-md-2 ases-col-lg-2" for="num_doc"> Teléfono 2 </label>
                      <input id="input_phone2" name="telefono2" class="ases-col-xs ases-col-sm-3 ases-col-md-3 ases-col-lg-3" readonly="true" value={{phone2}} >
                  </div>

                  <div class="ases-row">
                    <label class="ases-col-xs ases-col-sm-3 ases-col-md-3 ases-col-lg-2" for="email">Email alternátivo </label>
                    <input id="input_email" name="email_alternativo" class="ases-col-xs ases-col-sm-6 ases-col-md-6 ases-col-lg-5" readonly="" value={{email_alter}} >
                </div>



                  <br>
                  <p class="p-general-tab">DOCUMENTOS</p>
                  <hr class="hr-general-tab"/>
                  <div class="ases-row">
                      <label for="input_acuerdo" class="ases-col-xs ases-col-sm-4 ases-col-md-4 ases-col-lg-4"> Acuerdo de Confidencialidad</label>
                        <a id="link_acuerdo" target="_blank" href={{pdf_acuerdo_conf}}><input type="text" id="input_acuerdo" name="pdf_acuerdo_conf" readonly="" value={{pdf_acuerdo_conf}}></a>
                  </div>

                  <div class="ases-row">
                      <label class="ases-col-xs ases-col-sm-4 ases-col-md-4 ases-col-lg-4"> Documento de identidad </label>
                      <a id="link_doc" href={{pdf_doc}} target="_blank"><input type="text" name="pdf_doc" id="input_doc" id="input_doc" readonly="" value={{pdf_doc}}></a>
                  </div>

                  <div class="ases-row">
                      <label class="ases-col-xs ases-col-sm-4 ases-col-md-4 ases-col-lg-4"> D-10 </label>
                      <a id="link_d10" href={{pdf_d10}} target="_blank"><input type="text" name="pdf_d10" id="input_d10" readonly="" value={{pdf_d10}}></a>
                  </div>

                  <div class="ases-row">
                      <label class="ases-col-xs ases-col-sm-4 ases-col-md-4 ases-col-lg-4"> Cuenta bancaria </label>
                      <a id="link_banco" target="_blank" href="https://www.example.org"><input type="text" name="pdf_cuenta_banco" id="input_banco" readonly="" value={{pdf_cuenta_banco}}></a>
                  </div>
          </div>
</div>
