<div id="programar-formulario" style="display: block; padding: 15px 10px 15px 50px;">
<form id="form_programar">

 <div style="display: flex">
<label style="margin:10px 8px 14px 8px" > Desde:
<input type="text" name="programar_desde" id="programar_desde" placeholder="Seleccionar fecha ..." autocomplete="off" required> *</label>
<label style="margin:10px 8px 14px 8px" > Hasta:
<input type="text" name="programar_hasta" id="programar_hasta"  placeholder="Seleccionar fecha ..." autocomplete="off" required> *</label>
</div>

<span id="titulo_en_dia" style="margin:5px 5px 30px 16px; color: #555;"> </span>


  <div style="display: flex; margin-top:20px">
        <button type="submit" class="dt-button buttons-print" id="save_monitoria_btn">Programar</button>
        <button type="button" class="dt-button" id="cancel_monitoria_btn">Cancelar</button>
    </div>
    <div id="debug"></div>
</form>
</div>