{{#data}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span>Seleccione al profesional:&nbsp;</span>
                {{#professionals}}
                <select name="" id="">
                    {{#.}}
                    <option value="" data-username="{{id}}">{{fullname}}</option>
                    {{/.}}
                </select>
                {{/professionals}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span>Seleccione el programa:</span>
                <select id="select-program" name="" id="">
                    {{#students_programs}}
                    {{#.}}
                    <option value="" data-cod-programa="{{cod_programa}}" alt="{{nombre_programa}}">{{nombre_programa}}</option>
                    {{/.}}
                    {{/students_programs}}
                </select>
            </div>
        </div>
        <div class="row column_group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column_items" >
                {{#practitioners}}
                {{#.}}
                <div class="assignment_item" data-id="{{id}}">
                    {{fullname}}
                </div>
                {{/.}}
                {{/practitioners}}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column_items" >
                {{#monitors}}
                {{#.}}
                <div class="assignment_item" data-id="{{id}}">
                    {{fullname}}
                </div>
                {{/.}}
                {{/monitors}}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column_items" >
                {{#students}}
                {{#.}}
                <div class="assignment_item" data-id="{{id}}" data-cod-programa="{{cod_programa}}" data-nombre-programa="{{nombre_programa}}" data-id-facultad="{{id_facultad}}">
                    {{fullname}}
                </div>
                {{/.}}
                {{/students}}
            </div>
        </div>
    </div>
</body>
{{/data}}
