{{#data}} 
    {{> block_ases/side_menu}} {{{message}}}
    <form id="ficha_monitor" class="ases-container">
        
        <input type="text" class="hidden" id="id_moodle" name="id_moodle" value={{id_moodle}} />
        
        <div class="ases-container" id="monitor-header-container">
            
            <div class="ases-row" id="div-header-profile">
                <div id="div-select-monitor" class="ases-col-lg-12">
                    {{{select}}}
                    <p id="mon_id" hidden>{{mon_id}}</p>
                </div>
            </div>

            <div id="div-hr" class="ases-row">
                <hr class="hr-general-fields">
            </div>

            <div class="ases-row" id="div-nombre-foto">
                <div id="div_monitor-fullname" class="ases-col-xs-2 ases-col-lg-7">
                    <h2 id="monitor_fullname">{{fullname}}</h2>

                </div>
                <div id="monitor-picture" class="ases-col-xs-12 ases-col-lg-5">
                   {{{profile_image}}} 
                </div>
            </div>

            <div class="ases-row" id="div-correo-institucional">
                <p class="ases-col-lg-7">{{email}}</p>
            </div>
            
            <div class="ases-row cabecera" id="container-profile">

                <div id="tabs" class="ases-col-sm-12 ases-col-md-12 ases-col-lg-12">
                    <ul id="nav-linea" class="nav nav-tabs">
                        {{#monitor_view_general_tab}}
                        <li id="general_li" class="active">
                            <a href="#general_tab" data-toggle="tab">GENERAL</a>
                        </li>
                        {{/monitor_view_general_tab}}

                        {{#monitor_view_history_boss_tab}}
                        <li id="boss_history_li">
                            <a href="#history_boss_tab" data-toggle="tab">HISTORICO JEFES</a>
                        </li>
                        {{/monitor_view_history_boss_tab}}
		                
                        {{#monitor_view_trackings_tab}}
                        <li id="trackings_li">
                            <a href="#trackings_tab" data-toggle="tab">HISTORICO FICHAS</a>
                        </li>
			            {{/monitor_view_trackings_tab}}
                    </ul>
                </div>
            </div>

            <div class="ases-row"> 
                <!-- Logic for tabs -->
                <div class="tab-content clearfix">
                    {{#monitor_view_general_tab}} {{> block_ases/monitor_view_general_tab}} {{/monitor_view_general_tab}}
                    {{#monitor_view_trackings_tab}} {{> block_ases/monitor_view_trackings_tab}} {{/monitor_view_trackings_tab}}
                </div>
            </div>
    </form>
{{/data}}
