<div id="config-formulario" style="display: block; padding: 15px 50px 15px 50px;">
<form id="form_config">
<div style="display: flex">
          <label class="input-grupo-monitores" style="width:40%">
                  <h3>Grupo de monitores académicos</h3>
                  <select id="grupos" name= "grupo" class="campo-anadir" style="width:100%" required><option></option></select>
        </label>
  </div>

  <div style="display: flex">
        <button type="submit" class="dt-button buttons-print" id="save_config">Guardar</button>
        <button type="button" class="dt-button" id="cancel_config">Cancelar</button>
    </div>
    <div id="debug"></div>
</form>
</div>