{{#data}}
    {{> block_ases/side_menu}}
    <div class="universo">
    <h1 style="display:inline;">Monitorias semanales activas </h1><span id="config-icon" class="glyphicon glyphicon-cog config-icon"></span>
    {{#es_profesional}} <button class="dt-button buttons-print" style="float: right;display:inline;" id="anadir_monitoria">Añadir...</button>{{/es_profesional}}
    {{#nombre_monitor}}<h4>A cargo de {{nombre_monitor}}</h4>{{/nombre_monitor}}
    <div id="div_table"></div>
    </div>
{{/data}}