{{#data}}
    {{> block_ases/side_menu}}
    <div class="universo">
    <h1 style="display:inline;">Monitorias semanales activas</h1>
    <button class="dt-button buttons-print" style="float: right;display:inline;" id="anadir_monitoria">Añadir...</button>
    <div id="div_table"></div>
    </div>
{{/data}}