<div id="history_boss_tab" class="ases-tab-pane">
            <br />
           <div id="div-table-bosses" class="ases-col-sm-12 ases-col-md-12 ases-col-lg-12">
                {{{table_html}}}
            </div>
</div>
