{{#data}} 
    {{> block_ases/side_menu}}
    <form id="ficha_monitor" class="ases-container">
        
        <div class="ases-container" id="monitor-header-container">
            <div class="ases-row" id="div-header-profile">
                <div class="ases-col-xs-10" id="div-header-info">
                    <!-- monitor code -->
                    <div class="ases-row" id="div-monitor-code">
                        
                    </div>
                    
                    <!-- monitor info (age, cc) --> 
                    <div class="ases-row" id="div-monitor-info">
                        
                    </div>
                </div>

                <!-- picture -->
                <div id="div-monitor-photo" class="ases-col-xs-2">

                </div>

            </div>
        </div>



    </form>
{{/data}}
