{{#data}}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <H2>Sistema de asignaciones</H2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span>Profesional:&nbsp;</span>
                <select name="" id="">
                    {{#professionals}}
                    {{#.}}
                    <option value="" data-username="{{id}}">{{fullname}}</option>
                    {{/.}}
                    {{/professionals}}
                </select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span>Facultad:</span>
                <select id="select-monitor-faculty" class="select-faculty" name="" id="">
                    <option value="" data-cod-programa="-1" alt="TODOS">TODOS</option>
                    {{#monitors_faculty}}
                    {{#.}}
                    <option value="" data-id-facultad="{{id_facultad}}" alt="{{nombre_facultad}}">{{nombre_facultad}}</option>
                    {{/.}}
                    {{/monitors_faculty}}
                </select>&nbsp;
                <span>Programa:</span>
                <select id="select-monitor-program" class="select-program" name="" id="">
                    <option value="" data-cod-programa="-1" alt="TODOS">TODOS</option>
                    {{#monitors_programs}}
                    {{#.}}
                    <option value="" data-cod-programa="{{cod_programa}}" alt="{{nombre_programa}}">{{nombre_programa}}</option>
                    {{/.}}
                    {{/monitors_programs}}
                </select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span>Facultad:</span>
                <select id="select-student-faculty" class="select-faculty" name="" id="">
                    <option value="" data-cod-programa="-1" alt="TODOS">TODOS</option>
                    {{#students_faculty}}
                    {{#.}}
                    <option value="" data-id-facultad="{{id_facultad}}" alt="{{nombre_facultad}}">{{nombre_facultad}}</option>
                    {{/.}}
                    {{/students_faculty}}
                </select>&nbsp;
                <span>Programa:</span>
                <select id="select-student-program" class="select-program" name="" id="">
                    <option value="" data-cod-programa="-1" alt="TODOS">TODOS</option>
                    {{#students_programs}}
                    {{#.}}
                    <option value="" data-cod-programa="{{cod_programa}}" alt="{{nombre_programa}}">{{nombre_programa}}</option>
                    {{/.}}
                    {{/students_programs}}
                </select>
            </div>
        </div>
        <div class="row column_group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column_items" >
                {{#practitioners}}
                {{#.}}
                <div class="assignment_item active not-assigned" data-id="{{id}}">
                    <div class="item-text">
                        {{fullname}}
                    </div>
                </div>
                {{/.}}
                {{/practitioners}}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column_items" >
                {{#monitors}}
                {{#.}}
                <div class="assignment_item assigned" data-id="{{id}}" data-cod-programa="{{cod_programa}}" data-id-facultad="{{id_facultad}}">
                    <div class="item-text">
                        {{fullname}}
                    </div>
                    <div class="item-right-button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </div>
                </div>
                {{/.}}
                {{/monitors}}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column_items" >
                {{#students}}
                {{#.}}
                <div class="assignment_item not-assigned" data-id="{{id}}" data-cod-programa="{{cod_programa}}" data-id-facultad="{{id_facultad}}">
                    <div class="item-text">
                        {{fullname}}
                    </div>
                </div>
                {{/.}}
                {{/students}}
            </div>
        </div>
    </div>
</body>
{{/data}}
