<div id="trackings_tab" class="ases-tab-pane">
    <div id="ases-container-tracking" class="ases-container">
        <h5>Seleccione un período</h5>
        <div class="ases-row">
            <div class="ases-col-xs-12 ases-col-sm-12 ases-col-md-12 ases-col-lg-12">
                {{{select_periods}}} 
                <button class="ases-btn" id="btn-consulta-fichas" type="button">Consultar</button>
            </div>
        </div>

    </div>
</div>
