<div class="container">
<div class="row">
   <h2>GESTIÓN DE PERÍODOS</h2>

   <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
   
  <hr/>
   {{#data}}
   {{{message}}}
   <div class="panel-group">
      {{#search_periods}}
      {{> block_ases/search_periods}}
      {{/search_periods}}
      {{#create_periods}}
      {{> block_ases/create_periods}}
      {{/create_periods}}
      {{#view_periods}}
      {{> block_ases/view_periods}}
      {{/view_periods}}
   </div>
   {{/data}}
   <!--end panel-group-->
</div>
</div>