<div class="container">
<div class="row">
   <h2>GESTIÓN DE PERÍODOS</h2>   
  <hr/>
   {{#data}}   
   {{{message}}}
   {{> block_ases/side_menu}}
   <div class="panel-group">
      {{#search_periods}}
      {{> block_ases/search_periods}}
      {{/search_periods}}
      {{#create_periods}}
      {{> block_ases/create_periods}}
      {{/create_periods}}
      {{#view_periods}}
      {{> block_ases/view_periods}}
      {{/view_periods}}
   </div>
   {{/data}}
   <!--end panel-group-->
</div>
</div>