{{#data}}
    <div class="ases-container-fluid">
        {{> block_ases/_view.component}}
        <div class="ases-row">
            <div class="ases-col-xs-12 ases-col-sm-12 ases-col-md-12 ases-col-lg-12 steps-col">
                    <!--
                        0:Limpieza
                        1:Inicialización
                        2:Carga Estudiantes
                        3:Otros
                    -->
                <div class="steps-container">
                    <ul class="steps-progressbar">
                        <li data-toggle="ases-pill" data-tab="#home" class="active">Limpieza</li>
                        <li data-toggle="ases-pill" data-tab="#menu1" class="">Inicialización</li>
                        <li data-toggle="ases-pill" data-tab="#menu2" class="">Carga de estudiantes</li>
                        <li data-toggle="ases-pill" data-tab="#menu3" class="">Otros</li>
                    </ul>
                </div>
            </div>
            <div class="ases-col-xs-12 ases-col-sm-12 ases-col-md-12 ases-col-lg-12">
                <hr>
                <div class="ases-tab-content">
                    <div id="home" class="ases-tab-pane ases-fade ases-in ases-tab-active">
                        <h3>L</h3>
                        <div id="plugin_members_container" class="ases-row">
                            <template class="toChanceToDataSelector">
                                <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                    <div class="ucontainer">
                                        <span class="fname">First Name</span>
                                        <span class="lname">Last Name</span>
                                        <input class="remove_check" type="checkbox" name="">
                                    </div>
                                </div>
                            </template>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            <div class="user_enrolled ases-col-xs-12 ases-col-sm-12 ases-col-md-4 ases-col-lg-3">
                                <div class="ucontainer">
                                    <span class="fname">First Name</span>
                                    <span class="lname">Last Name</span>
                                    <input class="remove_check" type="checkbox" name="">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div id="menu1" class="ases-tab-pane ases-fade">
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu2" class="ases-tab-pane ases-fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="menu3" class="ases-tab-pane ases-fade">
                        <h3>Menu 3</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{{/data}}