{{#data}}
    <div class="ases-container-fluid">
        {{> block_ases/_view.component}}
        <div class="ases-row">
            <div class="ases-col-xs-12 ases-col-sm-12 ases-col-md-12 ases-col-lg-12">
                <!--
                        0:Limpieza
                        1:Inicialización
                        2:Carga Estudiantes
                        3:Otros
                    -->
                <div class="steps-container">
                    <ul class="steps-progressbar">
                        <li class="active">Limpieza</li>
                        <li class="active">Inicialización</li>
                        <li class="active">Carga de estudiantes</li>
                        <li>Otros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/data}}