{{#data}}
<div class="progressbar-container">
    <ul class="progressbar">
        {{#items}}
            <li class=" {{#is_current_active}} active {{/is_current_active}} "> {{name}}</li>
        {{/items}}
    </ul>
</div>
{{/data}}