
<div class="progressbar-container">
    <ul class="progressbar">
        <li >login</li>
        <li class="active"> choose interest</li>
        <li>add friends</li>
        <li>add friends</li>
        <li>add friends</li>
        <li>add friends</li>
        <li>add friends</li>
        <li>add friends</li>
        <li>View map</li>
    </ul>
</div>