<body>
    {{#data}} {{{students}}}
    <h2>
      Curso: {{nombre_curso}}
    </h2>
    <h3>Profesor: {{profesor}}</h3>
    <div class="alert alert-error alert-block fade in " role="alert">
      <a class="reload">La calificación total de las categorias no será calculada hasta recargar la página.</a>
    </div>
    {{{table}}}
    {{/data}}
</body>