{{#data}}
    {{> block_ases/side_menu}}
    <div class="content container">

        <div class="report_active_semesters ">
            <div class="head">
                <h2 class="report_title" >REPORTE DE ESTUDIANTES ACTIVOS EN SRA POR SEMESTRE</h2>
                <span class="spacer"></span>
                <div class="cohort_select_region">
                    <label > Seleccione la cohorte: </label>
                    {{{cohorts_select}}}
                </div>
            </div>

            <div class = "active_semesters">
                {{! El contenido de el div div_table_report se elimina desde js cada que el select de cohortes cambia de
                 valor, por tanto no adicione contenido estatico dentro de este div}}
                <div id="div_table_report">
                    <table id="tableActiveSemesters" class="table" cellspacing="0" width="100%">
                    </table>
                </div>
                <small>*Si ASES no posee información de almenos un semestre culminado (cancelado o no) en el sistema SIRA de un estudiante, entonces este estudiante no será incluido en el informe</small>

                <div class="active_semesters_graphs" >
                    <canvas id="active_semesters_chart" width="400" height="400"></canvas>
                    <a id="download_percentage_desertion" class="btn btn-primary" download="percentage_desertion.png">Descargar Grafica</a>
                </div>
            </div>

        </div>
    </div>



{{/data}}