{{#data}}
<div id="dphpforms_role_support" data-info="{{rol}}" style="display:none;"></div>
<div id="current_ases_semester" data-info="{{semester}}" style="display:none;"></div>
{{> block_ases/side_menu}} 
<!--<div id="loading"><img id="loading-image" src="../icon/load.gif" height="162" width="162">-->
<div class="container-fluid">
  <div class="row">
      <div id="title-report-trackings-view" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="float-left">SEGUIMIENTO PILOS</h2>
          {{{message}}}
          <div id="report-tracking-selectors" data-spy="scroll" data-target=".navbar" data-offset="50" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 float-right reporte-seguimiento">
            {{{table_periods}}}
          </div>
      </div>
  </div>
<form>
   {{#data}}
   <div class="row">

      {{#view_trackings_rt}}
      <div class="well col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1  equalize text-center" 
           id="div-header-info" name="main_counting">
        <div id="title-informacion-de">
            INFORMACIÓN: {{human_rol}}
        </div>
        <hr style="margin:7px; border-color:rgb(207, 207, 207);">

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <strong>Profesional</strong><br />
            <strong>Fichas:</strong> Revisado : <span id="general_rev_pro">*</span> - No revisado : <span id="general_not_rev_pro">*</span> -  Total : <span id="general_pro_t">*</span><br>
            <strong>Inasistencias:</strong> Revisado : <span id="general_in_rev_pro">*</span> - No revisado : <span id="general_in_not_rev_pro">*</span> -  Total : <span id="general_in_pro_t">*</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <strong>Practicante</strong><br />
            <strong>Fichas:</strong> Revisado : <span id="general_rev_prac">*</span> - No revisado : <span id="general_not_rev_prac">*</span> -  Total : <span id="general_prac_t">*</span><br>
            <strong>Inasistencias:</strong> Revisado : <span id="general_in_rev_prac">*</span> - No revisado : <span id="general_in_not_rev_prac">*</span> -  Total : <span id="general_in_prac_t">*</span>
          </div>

        </div>

      </div>
      <div data-spy="scroll" data-target=".navbar" data-offset="50" 
           class="well col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 reporte-seguimiento " 
           id="reemplazarToogle" name="reemplazarToogle">

          {{{table}}}

      </div>
    {{/view_trackings_rt}}
   {{/data}}
  </div>
</form>
</div>

  <!-- MODALES DE SEGUIMIENTO -->
  <div class="mymodal" id="modal_v2_peer_tracking" name="modal_v2_pares">
    <div class="outside" ></div>
    <div class="mymodal-content">
      <div class="mymodal-header col-sm-12">
        <div class="col-sm-11">
          <h4 class="" id="myModalLabel">Nuevo registro</h4>
        </div>
        <div class="col-sm-1">
          <span id="mymodal-v2-close" class="mymodal-close" aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="mymodal-body mymodal-body_v2 col-sm-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{{form_seguimientos}}}
          </div>
        </div>
      </div>
      <div class="mymodal-footer">
          .
      </div>
    </div>
  </div>

  <div class="mymodal" id="modal_v2_edit_peer_tracking" name="modal_edit_v2_pares">
    <div class="outside" ></div>
    <div class="mymodal-content">
      <div class="mymodal-header col-sm-12">
        <div class="col-sm-11">
          <h4 class="" id="myModalLabel">Visualización/Edición</h4>
        </div>
        <div class="col-sm-1">
          <span id="mymodal-v2-close" class="mymodal-close" aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="mymodal-body mymodal-body_v2 col-sm-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="body_editor"></div>
          </div>
        </div>
      </div>
      <div class="mymodal-footer">
          .
      </div>
    </div>
  </div>
  <!-- FIN MODALES SEGUIMIENTO V2 -->

  <!-- MODALES DE SEGUIMIENTO GRUPAL NUEVO -->
<div class="mymodal" id="modal_v2_groupal_tracking" name="modal_v2_pares">
  <div class="outside" ></div>
   <div class="mymodal-content">
      <div class="mymodal-header col-sm-12">
         <div class="col-sm-11">
            <h4 class="" id="myModalLabel">Nuevo registro</h4>
         </div>
         <div class="col-sm-1">
            <span id="mymodal-v2-close" class="mymodal-close" aria-hidden="true">&times;</span>
         </div>
      </div>
      <div class="mymodal-body mymodal-body_v2 col-sm-12">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               {{{form_seguimientos_grupales}}}
            </div>
         </div>
      </div>
      <div class="mymodal-footer">
         .
      </div>
   </div>
</div>
<div class="mymodal" id="modal_v2_edit_groupal_tracking" name="modal_edit_v2_pares">
  <div class="outside"></div>
   <div class="mymodal-content">
      <div class="mymodal-header col-sm-12">
         <div class="col-sm-11">
            <h4 class="" id="myModalLabel">Visualización/Edición</h4>
         </div>
         <div class="col-sm-1">
            <span id="mymodal-v2-close" class="mymodal-close" aria-hidden="true">&times;</span>
         </div>
      </div>
      <div class="mymodal-body mymodal-body_v2 col-sm-12">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div id="body_editor"></div>
            </div>
         </div>
      </div>
      <div class="mymodal-footer">
         .
      </div>
   </div>
</div>
<!-- FIN MODALES SEGUIMIENTO V2 -->

{{/data}}