
<div class="top_menu" id="menu_div">
  <ul>
    {{{menu}}}
    {{{view_menu}}}
  </ul>

</div>

<div class="div_modal_register_student">
{{> block_ases/modal_register_student }}
</div>




{{#js}}
  require(
    [
      'block_ases/side_menu_main',
      'block_ases/incident_notifier'
    ], function(side_menu_main, incident_notifier){
    side_menu_main.init();    
    incident_notifier.init();        
  });  
{{/js}}
