  
    <div class="peer_trackings_v2 well well_v2" id="peer_trackings_v2" name="peer_trackings_v2">
        {{#peer_tracking_v3}}
            <div id="accordion_v2">
                <div class="card card_v2">
                    <div class="card-header card-header_v2" role="tab" id="headingOne{{period_name}}">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" class="btn btn-danger btn-univalle btn-card" data-container="collapseOne{{period_name}}" data-parent="#accordion_v2" href="#collapseOne{{period_name}}" aria-expanded="true" aria-controls="collapseOne">
                            {{period_name}}
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne{{period_name}}" class="collapse show collapse_v2" role="tabpanel" aria-labelledby="headingOne{{period_name}}">
                        {{#trackings}}
                        <div id="dphpforms-peer-record-{{id_registro}}" class="card-block dphpforms-peer-record peer-tracking-record class-{{alias_form}} {{#custom_extra}} {{#rev_pro}} peer-tracking-record-review {{/rev_pro}} {{/custom_extra}} {{#custom_extra}} {{#special_tracking}} special_tracking {{/special_tracking}} {{/custom_extra}}" data-record-id="{{id_registro}}">
                            {{#custom_extra}} {{#seguimiento_pares}}
                            <strong><i class="fas fa-calendar-o"></i></strong>
                            {{/seguimiento_pares}} {{/custom_extra}}

                            {{#custom_extra}} {{#inasistencia}}
                            <strong><i class="far fa-calendar-times"></i></strong>
                            {{/inasistencia}} {{/custom_extra}}

                            Registro: {{fecha}}

                            {{#custom_extra}} {{#rev_pract}}
                            <i title="Revisado practicante" style="float:right" class="fas fa-check"></i>
                            {{/rev_pract}} {{/custom_extra}}
                        </div>
                        {{/trackings}}
                    </div>
                </div>
            </div>
        {{/peer_tracking_v3}}
    </div>
    <div class="well" id="peer_trackings" name="peer_trackings">
        <!-- Button trigger modal -->
        {{{peer_tracking}}}
    </div>