{{#resume_report}}
    <table class="table">
        <thead>
        <tr>
            <h5> Resumen </h5>
        </tr>
        <tr>
            <th>
                Elemento cualificable
            </th>
            <th title="Cantidad de estudiantes con más items perdidos que ganados">
                Cantidad
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td title="Cantidad de estudiantes con uno o más items perdidos">
                Estud. con uno o más items perdidos
            </td>
            <td>
                {{est_items_perdidos}}
            </td>
        </tr>
        <tr>
            <td title="Cantidad de estudiantes con uno o más items perdidos">
                Estud. con más items perdidos que ganados
            </td>
            <td>
                {{est_mas_items_perdidos_que_ganados}}
            </td>
        </tr>
        <tr>
            <td title="Total de estudiantes ASES matriculados en cursos de el campus virtual, cursos los cuales tienen almenos una nota">
                Total estudiantes ASES matriculados en cursos con calificaciones
            </td>
            <td>
                {{cantidad_estudiantes}}
            </td>
        </tr>
        </tbody>
    </table>
{{/resume_report}}