<body>

  {{#data}}

  <div class="container">
      <form  id="ficha_estudiante" onsubmit="myFunction(); return false;">
        
        <input type= "text" class="hide" id="id_ases" name="id_ases" value="{{id_ases}}" />
        <input type= "text" class="hide" id="id_moodle" name="id_moodle" value="{{id_moodle}}" />
        
          <div class="row m-bottom-20 cabecera">
              <div class="col-md-4">
                
                  <h2>FICHA GENERAL DEL ESTUDIANTE</h2>
                  
                  <div class="row">
                      <label class="col-sm-4 col-md-4 control-label">Código</label>
                      <div class="col-sm-4">
                        <input type="text" class="tip" id="codigo" value="{{code}}" size="12" maxlength="12" required>
                      </div>
                      <div class="col-sm-4">
                        <button type="button" class="btn-primary btn-sm" name="search" id="search">
                            <span class=" button glyphicon glyphicon-search"></span> Buscar
                        </button>
                      </div>
                  </div>
                  
                  <div class="row">
                      <label for="estado"  class="col-sm-4 col-md-4 control-label">Estado Icetex</label>
                      <div class="col-sm-6">
                        <select name="estado" id="estado" class="col-md-5 form-control" disabled>
                          {{{status_icetex}}}
                        </select>
                      </div>
                  </div>
                  
                  <div class="row">
                      <label for="estadoAses" class="col-md-4 control-label">Estado Ases</label>
                      <div class="col-sm-6">
                        <select name="estado_ases" id="estadoAses" class="col-md-5 form-control" disabled>
                            {{{status_ases}}}
                        </select>
                      </div>
                  </div>
                  
                  <div class="row">
                      <label for="input_facultad" class="col-sm-4 control-label">Facultad</label>
                      <div class="col-sm-6">
                        <span id="input_facultad">{{faculty}}</span>
                      </div>
                  </div>
                  
                  <div class="row">
                      <label for="input_programa" class="col-sm-4 control-label">Programa</label>
                      <div class="col-sm-6">
                        <span id="input_programa">{{program}}</span>
                      </div>
                  </div>
              </div><!-- End col-md-4 -->
  
              <div class="col-md-6">
                
                  <div class="row m-bottom-20">
                      <label class="col-md-12 nombre-ficha" id = "nombreficha">{{firstname}} {{lastname}}</label>
                  </div>
                  
                  <div class="row">
                      <label for="cedula" class="col-sm-2 control-label">Documento</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="num_doc" id="cedula" value="{{num_doc}}" size="12" maxlength = "11" readonly>
                      </div>
                  </div>
                  
                  <div class="row">
                      <label for="tipo_doc" class="col-sm-2 control-label">Tipo</label>
                      <div class="col-sm-6">
                        <select name="tipo_doc" id="tipo_doc" name="tipo_doc" disabled>
                           <option value="T.I" {{doc_type_ti}}>T.I.</option>
                           <option value="C.C" {{doc_type_cc}}>C.C.</option>
                           <option value="C.R" {{doc_type_cr}}>C.R.</option>
                           <option id="EMPTY" {{doc_type_empty}}></option>
                        </select>
                      </div>
                  </div>
                  
                  <div class="row">
                      <label for="age" class="col-sm-2" >Edad:</label> 
                      <div class="col-sm-6">
                        <span id="age">{{age}}</span>
                      </div>
                  </div>
                  
                  <div class="row">
                      <label for="email1" class="col-sm-2 control-label" >Correo</label> 
                      <div class="col-sm-6">
                        <span id="email">{{email_moodle}}</span>
                      </div>
                  </div>

                  <div class="row">
                      <label class="col-sm-2" >Cohorte</label>
                      <div class="col-sm-6">
                        <span type="text" id ="fcohorte" name= "fcohorte" >{{cohort}}</span>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-2 col-sm-2 talentos_ficha">
                      <img id="photo" class="img-rounded" src="../../../user/pix.php/{{id_user}}/f1.jpg" style="width:150px; height:180px">
              </div>
          </div>
  
          <div class="row cabecera" id="container_profile">
            
            <!-- Pestañas ficha -->
            <div id="exTab1" class="col-sm-12">	

                <ul class="nav nav-tabs">
              			<li id="general_li" class="active"><a href="#general_tab" data-toggle="tab">GENERAL</a></li>
                		<li id="socioed_li"><a href="#socioed_tab" data-toggle="tab">SOCIOEDUCATIVO</a></li>
                    <li id="academic_li"><a href="#academic_tab" data-toggle="tab">ACADÉMICO</a></li>
              			<li id="geographic_li"><a href="#geographic_tab" data-toggle="tab">GEOGRÁFICO</a></li>
            		</ul>
            		
          			<div class="tab-content clearfix ">
                  <!-- General tab -->
          			  <div class="tab-pane active p-t-100" id="general_tab" >
            			    <div class="col-md-12">
              			    <div class=" col-sm-4">
              			      
                            <div class="row">
                              <label for="dir1" class="col-sm-4">Dirección</label>
                              <div class="input-group col-sm-8"> 
                                <input type="text" class="form-control" readonly name="direccion_res" id="dir1" value="{{res_address}}" maxlength="100">
                              </div>
                            </div>
                            
                            <div class="row">
                              <label for="tel1" class="control-label col-sm-4">Teléfono 1</label>
                              <div class = "input-group col-sm-8">
                                <input type="tel" class="form-control" name="tel_ini" id="tel1" readonly value="{{init_tel}}"maxlength="15">
                              </div>
                            </div>
                            
                            <div class="row">
                              <label for="tel2" class="control-label col-sm-4">Teléfono 2</label>
                              <div class = "input-group col-sm-8">
                                <input type="tel" class="form-control" name="tel_res" id="tel2" readonly value="{{res_tel}}"maxlength="15" >
                              </div>
                            </div>
                            
                            <div class="row">
                              <label for="tel3" class="control-label col-sm-4">Teléfono 3</label>
                              <div class = "input-group col-sm-8">
                                <input type="tel" class="form-control" name="celular" id="tel3" readonly value="{{cell_phone}}" maxlength="15">
                              </div>
                            </div>
                            
                            <div class="row">
                              <label for="email2" class="control-label col-sm-4">Email alternativo</label>
                              <div class="input-group col-sm-8">
                                <input type="email" class="form-control" name="emailpilos" id="email2" readonly value="{{emailpilos}}" maxlength="100" required />
                              </div>
                            </div>
                            
                            <hr class="col-md-12">
                            
                            <h3>INFORMACIÓN DEL ACUDIENTE</h3>

                            <div class="row">
                              <label for="nombre_acudiente" class="control-label col-sm-4">Nombre</label>
                              <div class = "input-group col-md-8">
                                <input type="text" class="form-control" readonly name="acudiente" id="nombre_acudiente" value="{{attendant}}" maxlength="100" />
                              </div>
                            </div>
                            
                            <div class="row">
                              <label for="tel4" class="control-label col-sm-4">Teléfono Acudiente</label>
                              <div class = "input-group col-md-8">
                                <input type="tel" class="form-control" name="tel_acudiente" id="tel4" readonly value="{{attendant_tel}}" maxlength="15" />
                              </div>
                            </div>
                            
                            <hr class="col-md-12">
                            
                            <h3>INFORMACIÓN PROFESIONAL Y MONITOR</h3>

                            <div class="row">
                              <label for="profesional_ps" class="control-label col-sm-4">Profesional</label>
                              <div class = "input-group col-md-7">
                                <span>{{professional_fullname}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <label for="practicante_ps" class="control-label col-sm-4">Practicante</label>
                              <div class = "input-group col-md-7">
                                <span>{{trainee_fullname}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <label for="monitor_ps" class="control-label col-sm-4">Monitor</label>
                              <div class = "input-group col-md-7">
                                <span>{{monitor_fullname}}</span>
                              </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                          <iframe class="col-sm-12" height="396" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAoE-aPVfruphY4V4BbE8Gdwi93x-5tBTM&origin={{latitude}},{{longitude}}&destination=3.3759493,-76.5355789&mode=transit" allowfullscreen> </iframe>
                          <div class="row">
                            <label for="observaciones" class="col-md-12">Observaciones</label>
                            <textarea name="observacion" id="observations_profile" class="col-sm-12" readonly></textarea>
                            <textarea name="" id="observaciones_anteriores" class="col-md-12" readonly>{{observations}}</textarea>
                          </div>
                          <br>
                          <div class="row" id="div_ases_status">
                            
                          </div>
                        </div>
                        
                        <!-- Gestión del riesgo -->
                        <div id="div_risk" class="div_risk col-sm-2">
                         
                          <div class="row" align="center">
                            <h5>GESTIÓN DEL RIESGO</h5>
                          </div>

                          <div class="row" align="center">
                            <button type="button" id="view_graphic_button">Ver gráfico</button>
                          </div>
                          
                          <div class="{{individual_class}} col-sm-12" id="individual_risk">
                            <span><b>INDIVIDUAL</b></span>
                          </div>
                          <div hidden>{{individual_risk}}</div>
                          <div class="{{familiar_class}} col-sm-12" id="familiar_risk">
                             <b> <span>FAMILIAR</span></b>
                          </div>
                          <div hidden>{{familiar_risk}}</div>
                          <div class="{{academic_class}} col-sm-12" id="academic_risk">
                            <b><span>ACADÉMICO</span></b>
                          </div>
                          <div hidden>{{academic_risk}}</div>
                          <div class="{{economic_class}} col-sm-12" id="economic_risk">
                            <b><span>ECONÓMICO</span></b>
                          </div>
                          <div hidden>{{economic_risk}}</div>
                          <div class="{{life_class}} col-sm-12" id="life_risk">
                            <b>VIDA UNIV.</b>
                          </div>
                          <div hidden>{{life_risk}}</div>
                          <div class="{{geographic_class}} col-sm-12" id="geo_risk">
                              <b><span>GEOGRÁFICO</span></b>
                          </div>
                          <div hidden>{{geographic_risk}}</div>
            
                        </div>   
                        <!-- Fin gestión del riesgo -->
                      </div>
                      <div class="col-sm-offset-9 col-sm-3" id="buttons_edit_div">
                        <button class="btn-primary col-sm-7" type="button" id="save" name="save">Actualizar Datos</button>
                        <button class="btn-primary col-sm-4 col-sm-offset-1" type="button" id="cancel">Cancelar</button>
                        <button class="btn-primary col-sm-6 col-sm-offset-3" type="button" id="editar_ficha">Editar Ficha</button>
                      </div>
          				</div>
          				<!-- End general tab -->
              		<!-- Socioed tab -->
                  <div class="tab-pane" id="socioed_tab">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default" id="panelPares">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a id="seg_pares_title" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Seguimiento de Pares
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in form-pilos" role="tabpanel" aria-labelledby="headingOne">
                          <button type="button" id="button_add_track" class="btn-primary">
                            Nuevo seguimiento
                          </button>
                          <hr>
                          <div class="well" id="peer_trackings" name="peer_trackings">
                            {{{peer_tracking}}}
                          </div>
                          <!-- Button trigger modal -->
                        </div>
                        
                      </div>
                      <div class="panel panel-default" id="panelGrupal">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a id="seg_grupal_title" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Seguimiento Grupal
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="ScrollStyle" id="list_grupal" name="list_grupal"></div>
                        </div>
                      </div>
                      <div class="panel panel-default" id="panelPrimerAcerca">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Primer Acercamiento Profesional
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="ScrollStyle well" id="list_primerA" name="list_primerA"></div>
                          <!-- Button trigger modal -->
                            <button type="submit" id="socioedu_primerAcerca" class="submit" data-toggle="modal" data-target="#myModalPrimerAcerca">
                              Adicionar nuevo
                            </button>
                        </div>
                      </div>
                      <div class="panel panel-default" id="panelAcompSocio">
                        <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Acompañamiento SocioEducativo
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                          <div class="ScrollStyle well" id="list_AcompaSocio" name="list_AcompaSocio"></div>
                              <hr>
                          <!-- Button trigger modal -->
                          <button type="submit" id="socioedu_add_AcompaSocio" class="submit hide" data-toggle="modal" data-target="#myModalAcompaSocio">
                              Adicionar nuevo
                            </button>
                        </div>
                      </div>
                      <div class="panel panel-default" id="panelSegSocio">
                        <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                            <a id="seg_socio_title" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Seguimiento SocioEducativo
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                          <div class="ScrollStyle well" id="list_SegSocio" name="list_SegSocio"></div>
                              <hr>
                          <!-- Button trigger modal -->
                          <button type="submit" id="socioedu_add_segsocio" class="submit hide" data-toggle="modal" data-target="#myModalSegSocio">
                                Adicionar nuevo
                              </button> 
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <!-- End socied tab -->

                  <!--academic tab-->
                  <div class="tab-pane" id="academic_tab">
                    <div class="col-sm-10 col-sm-offset-1" id="academic_report">
                      {{{academic_semestres_table}}}
                    </div>
                  </div>
                  <!-- End academic tab -->

                  {{{geographic_tab}}}
            </div>
            <!-- Fin Pestañas ficha -->
            </div>

          <span class="btn btn-info" id="go_back">REGRESAR</span>
        </form>  
  </div>

  <!-- Modal Seguimiento pares-->
  <div class="mymodal" id="modal_peer_tracking" name="modal_pares">
    <div class="mymodal-content">
      <div class="mymodal-header col-sm-12">
        <div class="col-sm-11">
          <h4 class="" id="myModalLabel">Seguimiento de pares</h4>
        </div>
        <div class="col-sm-1">
          <span class="mymodal-close" aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="mymodal-body col-sm-12">
        <form class="form-horizontal" id="tracking_peer_form" role="form">
          
          <input type="text" id="id_tracking_peer" name="id_tracking_peer" class="hide"/>

          <div class="row form-legend">
            <h4>Datos generales</h4>
          </div>
          <!-- Fecha Lugar-->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="date" class="col-sm-3">Fecha (aaaa-mm-dd)<b style="color:red;">*</b></label>
                <div class="col-sm-9">
                  <input type="text" maxlength="10" class="form-control" id="date" name="date" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="place" class="col-sm-3">Lugar <b style="color:red;">*</b></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="place" name="place" >
                </div>
              </div>
            </div>
          </div>
          
          <!-- Hora inicio - Hora finalización-->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="h_ini" class="col-sm-3">Hora de inicio<b style="color:red;">*</b></label>
                <div class="col-sm-3">
                  <select class="form-control" id="h_ini" name="h_ini" ></select>
                </div>
                <label class="col-sm-1" for="m_ini">:</label>
                <div class="col-sm-3">
                  <select class="form-control" id="m_ini"  name="m_ini"></select>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="h_fin" class="col-sm-3">Hora de finalización<b style="color:red;">*</b></label>
                <div class="col-sm-3">
                  <select class="form-control" id="h_fin" name="h_fin" ></select>
                </div>
                <span class="col-sm-1">:</span>
                <div class="col-sm-3">
                  <select class="form-control" id="m_fin" name="m_fin"></select>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Tema - Objetivos-->
          <div class= "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="tema" class="col-sm-12">Tema <b style="color:red;">*</b></label>
                <div class="col-sm-12">
                  <textarea  class="form-control" id="topic_textarea" name="tema" maxlength="1000"></textarea>
                </div>
              </div>
             </div>
             <div class="col-sm-6">
                <div class="form-group">
                  <label for="objetivos" class="col-sm-12">Objetivos <b style="color:red;">*</b></label>
                  <div class="col-md-12">
                    <textarea class="form-control" id="objetivos" name="objetivos" maxlength="1000"></textarea>
                  </div>
                </div>
             </div>
          </div>

          <!--<div class="row hide" id="infomonitor">-->
          <!--  <label for="monitor" class="form-control-label col-xs-2 col-sm-2">Monitor guía</label>-->
          <!--  <span class="col-sm-4" id="monitor"></span>-->
          <!--</div>-->

          <div class="row form-legend">
            <h4>Actividades</h4>
          </div>
          
          <!-- Individual - Familiar -->
          <div class= "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="individual" class="col-sm-12">Individual</label>
                <div class="col-sm-12">
                  <textarea  class="form-control" id="individual" name="individual" maxlength="5000"></textarea>
                </div>
              </div>
              <div class="form-group" id="riesgo_ind_div">
                <div class="col-sm-10" id="radio_div">
                  <label class="radio-inline" >
                    <input type="radio" name="riesgo_ind"  value="1">Bajo
                  </label>
                  <label class="radio-inline" >
                    <input type="radio" name="riesgo_ind" value="2">Medio
                  </label>
                  <label class="radio-inline" >
                    <input type="radio" id = "high_individual_risk" name="riesgo_ind" value="3" />Alto
                  </label>
                  <label class="radio-inline">
                    <span style="color:gray;" class="glyphicon glyphicon-erase" id="clean_individual_risk"></span>
                  </label>
                  <label class="radio-inline">
                    <input type='radio' id='no_value_individual' name='riesgo_ind' value='0' checked/>
                  </label>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="familiar" class="col-sm-12">Familiar</label>
                <div class="col-sm-12">
                  <textarea class="form-control small" id="familiar" name="familiar" maxlength="5000"></textarea>
                </div>
              </div>
              <div class="form-group" id="riesgo_familia_div">
                <div class="col-sm-10" id="radio_div">
                  <label class="radio-inline" id="1">
                    <input type="radio" name="riesgo_familiar"  value="1">Bajo
                  </label>
                  <label class="radio-inline" id="3">
                    <input type="radio" name="riesgo_familiar" value="2">Medio
                  </label>
                  <label class="radio-inline" id="5">
                    <input type='radio' id='high_familiar_risk' name='riesgo_familiar' value="3">Alto
                  </label>
                  <label class="radio-inline">
                    <span style="color:gray;" class="glyphicon glyphicon-erase" id="clean_familiar_risk"></span>
                  </label>
                  <label class="radio-inline">
                    <input type='radio' id='no_value_familiar' name='riesgo_familiar' value='0' checked/>
                  </label>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Académico - Económico -->
          <div class= "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="academico" class="col-sm-12">Académico</label>
                <div class="col-sm-12">
                  <textarea  class="form-control small" id="academico" name="academico" maxlength="5000"></textarea>
                </div>
              </div>
              <div class="form-group" id="riesgo_aca_div">
                <div class="col-sm-10" id="radio_div">
                  <label class="radio-inline" id="1">
                    <input type="radio" name="riesgo_aca"  value="1">Bajo
                  </label>
                  <label class="radio-inline" id="2">
                    <input type="radio" name="riesgo_aca" value="2">Medio
                  </label>
                  <label class="radio-inline" id="3">
                    <input type='radio' id='high_academic_risk' name='riesgo_aca' value="3">Alto
                  </label>
                  <label class="radio-inline">
                    <span style="color:gray;" class="glyphicon glyphicon-erase" id="clean_academic_risk"></span>
                  </label>
                  <label class="radio-inline">
                    <input type='radio' id='no_value_academic' name='riesgo_aca' value='0' checked />
                  </label>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="economico" class="col-sm-12">Económico</label>
                <div class="col-sm-12">
                  <textarea class="form-control small" id="economico" name="economico" maxlength="5000"></textarea>
                </div>
              </div>
              <div class="form-group" id="riesgo_econom_div">
                <div class="col-sm-10" id="radio_div">
                  <label class="radio-inline" id="1">
                    <input type="radio" name="riesgo_econom"  value="1">Bajo
                  </label>
                  <label class="radio-inline" id="2">
                    <input type="radio" name="riesgo_econom" value="2">Medio
                  </label>
                  <label class="radio-inline" id="3">
                    <input type='radio' id='high_economic_risk' name='riesgo_econom' value="3">Alto
                  </label>
                  <label class="radio-inline">
                    <span style="color:gray;" class="glyphicon glyphicon-erase" id="clean_economic_risk"></span>
                  </label>
                  <label class="radio-inline">
                    <input type='radio' id='no_value_economic' name='riesgo_econom' value='0' checked/>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Vida universitaria -->
          <div class= "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="vida_uni" class="col-sm-12">Vida universitaria y ciudad</label>
                <div class="col-sm-12">
                  <textarea  class="form-control small" id="vida_uni" name="vida_uni" maxlength="5000"></textarea>
                </div>
              </div>
              <div class="form-group" id="riesgo_uni_div">
                <div class="col-sm-10" id="radio_div">
                  <label class="radio-inline" id="1">
                    <input type="radio" name="riesgo_uni"  value="1">Bajo
                  </label>
                  <label class="radio-inline" id="2">
                    <input type="radio" name="riesgo_uni" value="2">Medio
                  </label>
                  <label class="radio-inline" id="3">
                    <input type='radio' id='high_life_risk' name='riesgo_uni' value="3">Alto
                  </label>
                  <label class="radio-inline">
                    <span style="color:gray;" class="glyphicon glyphicon-erase" id="clean_life_risk"></span>
                  </label>
                  <label class="radio-inline">
                    <input type='radio' id='no_value_life' name='riesgo_uni' value='0' checked/>
                  </label>
                </div>
              </div>
            </div>
          </div><!-- End row -->
          <hr />

          <div class= "row">
            <div class="col-sm-12 form-group" >
              <label for="vida_uni" class="col-sm-12">Observaciones</label>
              <div class="col-sm-12" align="center">
                <textarea  class="form-control" id="observaciones" name="observaciones" maxlength="5000"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="mymodal-footer">
          <button type="button" class="btn-primary" id="save_tracking_btn">Guardar cambios</button>
          <button type="button" class="btn-primary" id="cancel_peer_tracking">Cancelar</button>
      </div>
    </div>
  </div>
  <!-- End modal Seguimiento pares-->

  <!-- Graphics Modal -->
  <div class="mymodal" id="modal_risk_graph">
    <div class="mymodal-content">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="modal_risk_span" aria-hidden="true">&times;</span>
        </button>
        <h4 class="mymodal-title" id="myModalLabel"><b>GRÁFICA POR:</b></h4>
      </div>
      <div class="mymodal-body" id="modal_risk_body">
         
      </div>
      <div class="mymodal-footer">
        <button id="modal_risk_close" type="button" class="button btn btn-secondary">Cerrar</button>
      </div>
    </div>
  </div>
  <!-- End graphics Modal -->

  <!-- Modal retiro-->
  <div class="mymodal" id="modal_dropout" name="modal_dropout">
    <div class="mymodal-content">
      <div class="mymodal-header col-sm-12">
        <div class="col-sm-11">
          <h4 class="" id="myModalLabel">Motivo del retiro</h4>  
        </div>
        <div class="col-sm-1">
          <span class="mymodal-close" aria-hidden="true">&times;</span>
        </div>        
      </div>
      <div class="mymodal-body col-sm-12">
            <form class="form-horizontal" id = "retiroForm" role="form">
              <div class="form-group">
                <label for="motivo" class="col-sm-2">Motivo</label>
                <div class="col-sm-10">
                  <select name="reasons_select" id="reasons_select">
                    {{{reasons_options}}}
                  </select>
                </div>
              </div>
              <div class = "form-group">
                <label for="detalle" class="col-sm-2">Descripción</label>
                <div class="col-sm-10">
                  <textarea  class="form-control medium-inline" id="description_dropout" name="detalle" maxlength="1000"></textarea>
                </div>
              </div>
            </form>
      </div>
      <div class="mymodal-footer">
        <button type="button" class="btn-primary" id="save_changes_dropout">Guardar</button>
        <button type="button" class="btn-primary" id="goback_backdrop">Atrás</button>
      </div>
    </div>
  </div>
  <!-- End modal retiro-->
{{/data}}
</body>  
