<div class="ases-row">
         <form action id="role_man_form" class="ases-col-lg-10">
               <ul>
                  <li class="ases-form-group">
                       <label for="username_input">Nombre de usuario:</label> 
                       <select name="users" id="users" class="ases-form-control">
                          {{{table}}}
                       </select>
                       <button class="submit" type="button" id="search_button">Buscar</button> 
                  </li>
                  <li class="assignment_li ases-form-group"> 
                     <label for="name_lastname">Nombre completo: </label>
                     <input class="ases-form-control" type="text" id="name_lastname" name="name_lastname" disabled />
                     <input hidden type="text"  id="user_id" name="user_id"/>
                  </li>
                  <li class="assignment_li ases-form-group">
                     <label for="role_select">Rol</label>
                     <select name="role_select" id="role_select" class="ases-form-control">
                        <option value="ninguno" selected>Ninguno</option>
                     </select>
                  </li>
                  <li class="assignment_li checkbox" id="li-check-security" hidden>
                   <label>
                    <input type="checkbox" id="checkbox-security" >
                       Replicar en el sistema de seguridad (marcar solo si es el usuario desarrollador). 
                    </label>
                  </li>

                  <li class="assignment_li ases-form-group" style="display:none;" id="boss_li">
                     <label for="boss_select">Jefe</label>
                     <select name="boss_select" id="boss_select" class="ases-form-control">
                     </select>
                  </li>
                  <li class="ases-form-group" style="display:none;" id="academic_program_li">
                    <label for="academic_program_select">Programa académico</label>
                    <select class="ases-form-control" name="academic_program_select" id="academic_program_select">
                        {{{academic_program_select}}}
                    </select>
                  </li>
                  <li class="ases-form-group" style="display:none;" id="facult_program_li">
                    <label for="facult_program_select">Facultad académico</label>
                    <select class="ases-form-control" name="facult_program_select" id="facult_program_select">
                        {{{facult_program_select}}}
                    </select>
                  </li>
               </ul>
            {{!--end col-md-7--}}
            <div class="ases-col-sm-6 ases-col-md-5 ases-col-lg-4" id="form_mon_student" style="display:none;">
               <h2>Asignación de estudiantes a monitor</h2>
               <div id="contenedor_add_fields">
                  <div class="added_add_fields ases-form-group">
                     <input type="text"  class="inputs_students ases-form-control" name="array_students[]" id="campo_1" placeholder="Estudiante 1"/>
                     <a href="#" class="eliminar_add_fields"><img src="../icon/ico_wrong.png"></a>
                  </div>
               </div>
               {{#update_role_um}}
               <a id="agregarCampo" class="btn_add_fields btn-info_add_fields" href="#">Agregar Estudiante</a>
               {{/update_role_um}}
            </div>
            {{!--end form_mon_estudiante--}}
            <hr />
            <div class="ases-col-md-5 ases-form-group" id="form_prof_type" style="display:none;">
               <h3>Profesional</h3>
               <label for="select_prof_type">Tipo de profesional</label>
               <select name="select_prof_type" id="select_prof_type" class="ases-form-control">
                  <option value="no_asignado">No asignado</option>
                  <option value="psicologo">Psicologo(a)</option>
                  <option value="terapeuta_ocupacional">Terapeuta ocupacional</option>
                  <option value="trabajador_social">Trabajador(a) Social</option>
               </select>
            </div>
            {{!--end form_prof_type--}}
            <div class="assignment_li ases-form-group ases-col-lg-12">
               {{#update_role_um}}
               <button class="submit btn-form" type="button" id="ok-button">Aceptar</button>
               {{/update_role_um}}
               <button class="submit btn-form " type="button" id="cancel-button">Cancelar</button>
            </div>
            {{!--end div buttons --}}
      {{!--end panel-body--}}
      </form>
</div>
{{!--end panel-group--}}
