{{!-- General tab --}}

<div class="tab-pane active p-t-100" id="general_tab">

    <div hidden>
        <input type="number" class="form-control" id="latitude" name="latitude" value="{{latitude}}" placeholder="Digite latitud" disabled>
        <input type="number" class="form-control" id="longitude" name="longitude" value="{{longitude}}" placeholder="Digite longitud" disabled>
    </div>
  

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div id="student_info">
                <h3 class="h-sections-general-tab" id="h-student-info">INFORMACIÓN DEL ESTUDIANTE</h3>
                <hr class="hr-general-tab-fields">
                <div class="row">
                    <label for="input-puntaje_icfes" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Puntaje
                        Icfes</label>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 div_fields_general_tab" id="div-input-puntaje_icfes">
                        <input type="number" class="input_fields_general_tab" name="puntaje_icfes" id="puntaje_icfes"
                            value="{{puntaje_icfes}}" max="500" min="0" readonly>
                    </div>
                    <label for="input-ingreso" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 label_fields_general_tab">Año
                        ingreso Univalle</label>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 div_fields_general_tab" id="div-input-ingreso">
                        <input type="number" class="input_fields_general_tab" name="ingreso" id="ingreso" min="0" value="{{ingreso}}"
                            readonly>
                    </div>

                </div>

                <div class="row" id="div_estrato">

                    <label for="input-estrato" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Estrato</label>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 div_fields_general_tab" id="div-input-estrato">
                        <input type="number" class="input_fields_general_tab" name="estrato" id="estrato" value="{{estrato}}"
                            max="6" min="0" readonly>
                    </div>
                </div>

                <div class="row">
                    <label for="tel_res" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Teléfono
                        residencia</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab" id="div-input-tel-res">
                        <input type="tel" class="input_fields_general_tab" name="tel_res" id="tel_res" readonly value="{{res_tel}}"
                            maxlength="15">
                    </div>
                </div>

                <div class="row">
                    <label for="tel3" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Celular</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab" id="div-input-cellphone">
                        <input type="tel" class="input_fields_general_tab" name="celular" id="celular" readonly value="{{cell_phone}}"
                            maxlength="15">
                    </div>
                </div>

                <div class="row">
                    <label for="email_alt" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Email
                        alternativo</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab" id="div-input-email-alt">
                        <input type="email" class="input_fields_general_tab" name="emailpilos" id="emailpilos" readonly
                            value="{{emailpilos}}" maxlength="100" required />
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Dirección
                        residencia</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab" id="div-input-dir-res">
                        <p>{{res_address}}</p>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">
                        Barrio</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab" id="div-input-dir-res">
                        <p>{{neighborhood}}</p>
                    </div>
                </div>


                <div class="row">
                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Municipio
                        actual</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab" id="div-input-municipio_act">
                        <p>{{municipio_act}}</p>
                    </div>
                </div>

                <div class="row">
                    <label for="pais" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">País de
                        origen </label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div_select" id="div_pais">
                        <select class="select_fields_general_tab" id="pais" name="pais"  style="width: 105%;" disabled>
                            {{{options_pais}}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label for="etnia" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Grupo
                        étnico</label>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 div_select" id="div_etnia">
                        <select class="select_fields_general_tab" id="etnia" name="etnia"  style="width: 157%;" disabled>
                            {{{options_etnia}}}
                        </select>
                    </div>

                </div>

                <div class="row">
                    <label for="act_simultanea" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Actividad
                        simultánea </label>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 div_select" id="div_act_simultanea">
                        <select class="select_fields_general_tab" id="act_simultanea" name="act_simultanea" disabled style="width: 157%;">
                            {{{options_act_simultanea}}}
                        </select>
                    </div>
                    <label id="lb_otro_act" style="padding: 5px 0px 0px 0px" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 label_fields_general_tab"
                        hidden>¿Cuál?</label>
                    <div id="div_otro_act" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 div_otro_gen" hidden>
                        <input disabled placeholder="Escriba aquí" value="{{otro_act}}" type="text" class="input_fields_general_tab_otro"
                            name="otro_act_simultanea" id="otro_act_simultanea" maxlength="100" required />
                    </div>
                </div>

                <div class="row">
                    <label for="genero" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Identidad
                        de género </label>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 div_select" id="div_genero">
                        <select class="select_fields_general_tab" id="genero" name="genero"  style="width: 157%;" disabled>
                            {{{options_genero}}}
                        </select>
                    </div>
                    <label id="lb_otro" style="padding: 5px 0px 0px 0px" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 label_fields_general_tab"
                        hidden>¿Cuál?</label>
                    <div id="div_otro_genero" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 div_otro_gen" hidden>
                        <input disabled placeholder="Escriba aquí" value="{{otro}}" type="text" class="input_fields_general_tab_otro"
                            name="otro_genero" id="otro_genero" maxlength="100" required />
                    </div>
                </div>

                <div class="row">
                    <label for="lb_sexo" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Sexo</label>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 div_select" id="div_sexo">
                        <select class="select_fields_general_tab" id="s_sexo" name="sexo"  style="width: 157%;" disabled>
                            {{{sex_options}}}
                        </select>
                    </div>
                </div>

                <div class="row ">
                    <label for="estado_civil" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Estado
                        civil </label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div_cond" id="div_estado_civil">
                        <select class="select_fields_general_tab" id="s_estado_civil" name="estado_civil" disabled style="width: 105%;">
                            {{{options_estado_civil}}}
                        </select>
                    </div>
                </div>


                <div class="row">
                    <label for="hijos" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Cantidad
                        hijo/s </label>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 div_fields_general_tab" id="div-input-tiene_hijo">
                        <input readonly type="number" min=0 class="input_fields_general_tab" name="hijos" id="hijos" readonly
                            value="{{sons}}" maxlength="100" required />
                    </div>
                </div>

                <div class="row">
                    <label for="actividades_libre" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Actividades que realiza en su tiempo libre</label>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 div_fields_general_tab">
                        <input readonly id="actividades_libre" class="col-md-4 input_fields_general_tab" type="text">
                    </div>
                    <div class="col-md-10 mb-3" id="ver_actividades"></div>
                </div>

                <div class="row" hidden>
                    <table id="table_prueba" ></table>
                </div>
                
                <div class="row">
                    <label for="deportes" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Deportes que practica</label>
                    <div class="div_fields_general_tab">
                        <input readonly id="deportes" class="col-md-4 input_fields_general_tab" type="text">
                    </div>
                    <div class="col-md-10 mb-3" id="ver_deportes"></div>
                </div>
               
                <div class="row">
                    <label for="condicion_excepcion" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Condiciòn de excepciòn</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div_cond" id="">
                        <select class="select_fields_general_tab" id="condicion_excepcion" name="condicion_excepcion"  style="width: 105%;" disabled>
                            {{{options_excep}}}
                        </select>
                       
                    </div>
                </div>

                <div class="row">
                    <label for="otros_acompañamientos" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Otros acompañamientos</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div_cond" id="">
                        <select class="select_fields_general_tab" id="otros_acompañamientos" name="otros_acompañamientos"   style="width: 105%;" disabled>
                        {{{options_acompañamientos}}}
                        </select>
                    </div>
                </div>

            </div>
            <div id="other_info">    
                <!-- end-insert -->
                <h3 class="h-sections-general-tab">INFORMACIÓN DEL ACUDIENTE O CONTACTO DE EMERGENCIA</h3>
                <hr class="hr-general-tab-fields">

                <div class="row">
                    <label for="nombre_acudiente" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Nombre
                        completo</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab" id="div-input-email-alt">
                        <input type="text" class="input_fields_general_tab" name="acudiente" id="acudiente" value="{{attendant}}"
                            maxlength="100" readonly />
                    </div>
                </div>
                <div class="row">
                    <label for="tel4" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Teléfono</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                        <input type="tel" class="input_fields_general_tab" name="tel_acudiente" id="tel_acudiente"
                            value="{{attendant_tel}}" maxlength="15" readonly />
                    </div>
                </div>

                <div class="row">
                    <label for="parentesco_acudiente" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">parentesco</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                        <input type="text" class="input_fields_general_tab" name="parentesco_acudiente" id="parentesco_acudiente"
                             readonly />
                    </div>
                </div>

                {{#flag_with_assignation}}

                <h3 class="h-sections-general-tab">INFORMACIÓN PROFESIONAL, PRACTICANTE Y MONITOR</h3>
                <hr class="hr-general-tab-fields"> 

                <div class="row">
                    <label for="profesional_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Profesional</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                        <span class="span-staff-ps">{{professional_fullname}}</span>
                    </div>
                </div>
                <div class="row">
                    <label for="practicante_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Practicante</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                        <span class="span-staff-ps">{{trainee_fullname}}</span>
                    </div>
                </div>
                <div class="row">
                    <label for="monitor_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Monitor</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                        <span class="span-staff-ps">{{monitor_fullname}}</span>
                    </div>
                </div>
                <div class="" id="info_modificasion">
                    <h3 class="h-sections-general-tab">   </h3>
                    <hr class="hr-general-tab-fields"> 
                    <div class="row">
                        <label for="profesional_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab"> Última Modificación:</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                            <span class="span-staff-ps">{{last_date_change_profile}}</span>
                        </div>
                    </div>
                </div>

                {{/flag_with_assignation}}
                {{^flag_with_assignation}}
                <div class="" id="info_profesional">
                    <h3 class="h-sections-general-tab">INFORMACIÓN DEL <strong>ÚLTIMO</strong> PROFESIONAL, PRACTICANTE Y MONITOR</h3>
                    <hr class="hr-general-tab-fields"> 

                    <div class="row">
                        <label for="profesional_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Profesional</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                            <span class="span-staff-ps">{{last_assignment_professional}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="practicante_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Practicante</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                            <span class="span-staff-ps">{{last_assignment_practicant}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="monitor_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab">Monitor</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                            <span class="span-staff-ps">{{last_assignment_monitor}}</span>
                        </div>
                    </div>
                </div>
                <div class="" id="info_modificasion">
                    <h3 class="h-sections-general-tab">   </h3>
                    <hr class="hr-general-tab-fields"> 
                    <div class="row">
                        <label for="profesional_ps" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label_fields_general_tab"> Última Modificación:</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 div_fields_general_tab">
                            <span class="span-staff-ps">{{last_date_change_profile}}</span>
                        </div>
                    </div>
                </div>
                {{/flag_with_assignation}}

            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="second_column_general_tab">
            <div id="movableMap">
                <div class="row" id="mapa">
                </div>
            </div>

            <h3 class="h-sections-general-tab2">PERSONAS CON QUIEN VIVE</h3>
            <hr class="hr-general-tab-fields">
            <div class="row">

                <table class="table table-hover table_vive_con" id="table_vive_con"
                    name="table_vive_con">
                    <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Parentesco</th>
                            <th id="edit_person_vive" hidden></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{{personas_con_quien_vive}}}
                    </tbody>
                </table>

            </div>
            <div class="row " name="div_add_persona_vive" id="div_add_persona_vive" hidden>
                <input class="btn btn-block" type="button" id="input_button_add_person" name="input_button_add_person"
                    value="Agregar persona" />
            </div>

            <h3 class="h-sections-general-tab2" style="margin-top: 3cm !important;">OBSERVACIONES</h3>
            <hr class="hr-general-tab-fields">
            <div class="row">
                <div class="col-sm-12">
                    <textarea name="" id="observaciones_anteriores" class="col-md-12" readonly style="min-height: 5cm !important; resize: none !important;">{{observations}}</textarea>
                    <textarea name="observacion" id="observacion" class="col-sm-12" readonly  style="resize: none !important;"></textarea>
                </div>
            </div>
            <div class="ases-row">
                <div class="ases-col-md-4">
                    <h3>TRATAMIENTO DE DATOS PERSONALES</h3>
                    <hr class="hr-general-tab-fields"/>
                    {{#tratamiento_datos_personales_doc}}
                        <a class="col-md-11" id="link_doc_dtddp" href="{{{.}}}" target="_blank">Documento de autorización para el tratamiento de datos personales
                            <input type="hidden" class="input_fields_general_tab_otro" name="link_doc_dtddp" id="field_doc_dtddp" readonly value="{{{.}}}"/>
                        </a>
                    {{/tratamiento_datos_personales_doc}}
                    {{^tratamiento_datos_personales_doc.0}}
                        No hay ningún enlace.
                    {{/tratamiento_datos_personales_doc.0}}
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoE-aPVfruphY4V4BbE8Gdwi93x-5tBTM&libraries=places" async defer></script>


{{!-- End general tab --}}