<div class="panel panel-default">
    <div class="panel panel-default">
       <div class="panel-heading">
          <h4 class="panel-title" id="list-resolution-students-panel">
             <a data-toggle="collapse" href="#collapse1">Estudiantes y resoluciones</a>
          </h4>
       </div>
       <!--end panel-heading-->
       <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
             <h2>Estudiantes y resoluciones</h2>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
               <input type="checkbox" name="check_no_res" id="check_no_res"> 
               Mostrar estudiantes sin resolución
            </div>
            <div class="col-md-3">
               <button class="submit" type="button" id="stu_res_button">Generar reporte</button>
            </div>
          </div>
          <div class="col-md-12" id="div_res_students" style="overflow-x:auto;">
          </div>
       </div>
    </div>
 </div>
 {{!--end panel-default--}}