<div id="academic_tab" class="ases-tab-pane">
    <div class="accordion" role="tablist" aria-multiselectable="true">
        <div class="ases-row" style="padding: 0px 10px 15px ">
            <div class="ases-col-md-3 ases-col-lg-3">Promedio Ponderado:
                <p class="prom" style="display: inline">
                    <b>{{promedio}}</b>
                </p>
            </div>

            <div class="ases-col-md-3 ases-col-lg-3">Estimulos academicos:
                <p class="est" style="display: inline">
                    <b>{{estimulos}}</b>
                </p>
            </div>

            <div class="ases-col-md-3 ases-col-lg-3">Bajos rendimientos:
                <p class="baj" style="display: inline">
                    <b>{{bajos}}</b>
                </p>
            </div>
        </div>

        <div id="panelActual" class="card card_student_profile">
            <div id="headingOne" class="academic panel-heading" role="tab">
                <h4 id="sem_act_title_card" class="card-title">
                    <a id="sem_act_title" class="academic_tab_title" data-toggle="collapse" data-parent="#accordion" href="#collapseAct" aria-expanded="true" aria-controls="collapseAct">
                        Semestre Actual
                    </a>
                </h4>
            </div>

            <div id="collapseAct" class="panel-collapse form-pilos ases-in" role="tabpanel" aria-labelledby="headingOne">
                <div class="" id="accordion_academic">
                    {{{academic_semester_act}}}
                </div>
            </div>
        </div>
        {{{historic_academic}}}
    </div>
</div>