{{!-- Others tab --}}
<div class="tab-pane" id="tracing_others_tab">

 <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" id="others_tittle">
                        <strong>OTROS DATOS DEL USUARIO</strong>
                </div>

    </div>

    <div class="row" id="economics_data">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " id="economics_tittle">
                    <strong>DATOS ECONÓMICOS</strong>
            </div>

    </div>

    <div class="row" id="health_data">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" id="economics_tittle">
                    <strong>SERVICIO DE SALUD</strong>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" id="economics_tittle">
                    <strong>SERVICIO DE SALUD</strong>
            </div>

    </div>

</div>