<div class="alert alert-info">
    <h4 align="center">
        Información para subir datos de monitores
    </h4>

    <p><b>Para tener en cuenta:</b></p>
    Campos obligatorios:
    <ul>
        <li>username: código del monitor</li>
        <li>programa: programa del monitor</li>
        <li>num_doc: número de documento de identidad del monitor</li>
    </ul>
</div>
